<!-- header-mobile.liquid -->
{%- capture nav_mb -%}
{%- if template != 'cart.mobile-menu' -%}
<aside data-section-id="{{ section.id }}" data-section-type="header-mobile-section">
  <div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper lazyload" data-include="/cart?view=mobile-menu"></div>
  </div>
</aside>
{%- endif -%}
{%- if template == 'cart.mobile-menu' -%}
<div class="headermb-header">
  <span class="mobile-menu-close close-menu float-right"><i class="fkt-close"></i></span>
  <div class="w-100 float-left">
    <div class="block-search">
      {% render 'search-bar', search_style: "mobile" %}
    </div>
  </div>
  {%- if section.blocks.size > 0 -%}
  <div class="w-100 float-left">
    <div class="d-flex justify-content-start">
      <div class="overflow-scroll-wrapper">                  
        <ul class="nav nav-pills-mobile nav-border-anim flex-nowrap" role="tablist">
          {%- for block in section.blocks -%}
          <li class="nav-item">
            <a class="nav-link{%if forloop.first%} active{%endif%}" data-toggle="tab" href="#tab-{{block.id}}" role="tab" aria-controls="tab-{{block.id}}" aria-selected="{%if forloop.first%}false{%else%}true{%endif%}">{{block.settings.title}}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="border-top" style="opacity: 0.5; margin-top: -5px"></div>
  </div>
  {%- endif -%}
</div>
<div class="headermb-content-wrapper">
  <div class="" style="min-height: 100vh">
  {%- if section.blocks.size > 0 -%}
    <div class="tab-content tab-container">
      {%- for block in section.blocks -%}
      <div id="tab-{{block.id}}" class="tab-pane fade{%if forloop.first%} show active{%endif%}" role="tabpanel">
      {%- case block.type -%}
        {%- when 'item_menu' -%}
          <nav class="mobile-nav">
            <ul class="mobile-menu">
            {%- for link in linklists[block.settings.menu_links].links -%}
              {%-assign menu_handle = link.handle-%}
              {%- if menu_handle == 'breakcol' -%}{%- continue -%}{%- endif -%}
              <li class="{%if link.active%}active{%endif%}">
                <a href="{{link.url}}" title="{{link.title}}">
                  <span>
                    {{link.title | split: '{' | first | split: '[' | first }}
                    {%-if link.title contains '{'-%}
                    {%-assign label = link.title |  split: '{' | last  | split: '}' | first-%}
                    <span class="label-menu {{label | handleize }}">{{label|escape }}<span></span></span> 
                    {%-endif-%}
                  </span>
                  {%- if link.links.size > 0 -%}<span class="mmenu-btn"></span>{%- endif -%}
                </a>
                {%- if link.links.size > 0 -%}
                <ul style="display: none;">
                  {%- for sub_link in link.links -%}
                  {%- if sub_link.handle == 'breakcol' -%}{%- continue -%}{%- endif -%}
                  <li class="{%if link.active%}active{%endif%}">
                    <a href="{{ sub_link.url }}">
                      <span>
                        {{sub_link.title | split: '{' | first | split: '[' | first }}
                        {%-if sub_link.title contains '{'-%}
                        {%-assign label = sub_link.title |  split: '{' | last  | split: '}' | first-%}
                        <span class="label-menu {{label | handleize }}">{{label|escape }}<span></span></span> 
                        {%-endif-%}
                      </span>
                      {%- if sub_link.links.size > 0 -%}<span class="mmenu-btn"></span>{%- endif -%}
                    </a>
                    {%- if sub_link.links.size > 0 -%}
                    <ul>
                      {%- for sub_sub_link in sub_link.links -%}
                      {%- if sub_sub_link.handle == 'breakcol' -%}{%- continue -%}{%- endif -%}
                      <li>
                        <a href="{{ sub_sub_link.url }}">
                          {{sub_sub_link.title | split: '{' | first | split: '[' | first }}
                          {%-if sub_sub_link.title contains '{'-%}
                          {%-assign label = sub_sub_link.title |  split: '{' | last  | split: '}' | first-%}
                          <span class="label-menu {{label | handleize }}">{{label|escape }}<span></span></span> 
                          {%-endif-%}
                        </a>
                      </li>                    
                      {%- endfor -%}
                    </ul>
                    {%- endif -%}
                  </li>
                  {%- endfor -%}
                </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
            </ul>
          </nav>
        {%- when 'item_categories_1' -%}
          <nav class="mobile-cats-nav">
            <ul class="mobile-cats-menu">
              {%- for link in linklists[block.settings.menu_links].links -%}
              <li><a class="{%if link.title contains '[special]' %}mobile-cats-lead{%endif%}" href="{{link.url}}" aria-label="{{link.title | remove: '[special]'}}">{{link.title | remove: '[special]'}}</a></li>
              {%- endfor -%}
            </ul>
          </nav>
      {%- endcase -%}
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
    <div class="socials_ style-02 style-02-small text-center">
      {%-render "kt_socials"-%}
    </div>
  </div>
</div>
<div class="headermb-footer" style="height: 50px;"></div>
{%- endif -%}
{%- endcapture -%}
{{nav_mb|strip_newlines|replace:'  ',' '| remove: '  '}}
{% schema %}
  {
  "name": "Header mobile",
  "settings": [
    {
      "type": "header",
      "content": "== Header mobile"
    }
  ],
  "blocks": [
    {
      "type": "item_menu",
      "name": "Item menu",
      "settings": [
        {
          "type": "header",
          "content": "Select menu"
        },
        {
          "type": "link_list",
          "id": "menu_links",
          "label": "Choose the parent item menu"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Tab title",
          "default":"Item tab"
        }
      ]
    },
    {
      "type": "item_categories_1",
      "name": "Item categories_1",
      "settings": [
        {
          "type": "header",
          "content": "Select menu"
        },
        {
          "type": "link_list",
          "id": "menu_links",
          "label": "Choose the parent item menu"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Tab title",
          "default":"Item tab"
        }
      ]
    }
  ]
}
{% endschema %}