<!-- md-collection-banners-box.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif   
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-if section.blocks.size != 0-%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-assign typeBlocks = section.blocks | map: 'type'-%}
{%- if typeBlocks contains 'banner' -%}
  {%- case section.settings.content_type -%}
    {%- when 'type-1' or 'type-2' or 'type-4' -%}
      {%- assign slide_width = 'col-xl-8' -%}
      {%- assign banner_width = 'col-xl-4' -%}
    {%- when 'type-3' -%}
      {%- assign slide_width = 'col-xl-9 col-xxl-8 offset-lg-3 offset-xxl-2' -%}
      {%- assign banner_width = 'col-xxl-2 d-none d-xxl-block' -%}
  {%- endcase -%}
{%- endif -%}
<div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}" style="padding:{{section.settings.section_padding|default:'0' |split:'|' |first | replace : '-',' '}};margin-top: {{section.settings.section_margin_top|default:'0'|split:'|'|first}};margin-bottom: {{section.settings.section_margin_bottom|default:'0'|split:'|'|first}};{%-if section.settings.section_bg != blank -%}background-color:{{section.settings.section_bg | color_modify: 'alpha', section.settings.section_bg_op}};{%-endif-%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-mt-respon="{{section.settings.section_margin_top}}" data-mb-respon="{{section.settings.section_margin_bottom}}" data-p-respon="{{section.settings.section_padding}}" data-el=".content_{{section.id}}" data-el-p=".content_{{section.id}}">  
    <div class="section-width {{width_content_}}">
      <div class="row{%if section.settings.width_content == false and section.settings.width_section == 'w-100'%} no-gutters{%endif%}">
        {%- assign sum_col = section.settings.slide_width | plus: section.settings.banner_width -%}
        <div class="col-12 {{slide_width}}">
          {%- capture settings_fonts -%}{{settings.font_base_family.family}},{{settings.font_main_header_family.family}},{{settings.font_section_sub_title_family.family}},{{settings.font_slogan_family.family}}{%- endcapture -%}
          {%- assign fonts = settings_fonts | split: ',' | uniq -%}
          {%- assign responsive_ = section.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
          {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
          <div data-section-id="{{ section.id }}" id="Swiper-{{ section.id }}" data-section-type="swiper-section" class="kt_home_slide">
            <div class="swiper-container-fuild position-relative {{section.settings.nav_position}} nav-style{{section.settings.nav_style}} nav-mode-{{section.settings.nav_mode}}">
              <div class="swiper-container{%if section.settings.no_overflow%} swiper-no-overflow{%endif%}" data-breakpoints='{{responsive_}}' data-autoplay="{{section.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{section.settings.use_dots}}" data-nav="{{section.settings.use_navigation}}" data-scrollbar="{{section.settings.use_scrollbar}}" data-delay="{{section.settings.autoplay_speed}}"{%if section.settings.no_overflow%} data-loop="true" data-loop-additional-slides="2" data-loop-fill-group-with-blank="true" data-no-overflow="true"{% endif %} data-prev-el=".swiper-button-prev-{{section.id}}" data-next-el=".swiper-button-next-{{section.id}}" data-prev-pagination=".swiper-pagination-{{section.id}}">
                <div class="swiper-wrapper">
                  {%- assign css = '' -%}
                  {%- assign css_noscript = '' -%}
                  {%- for block in section.blocks-%}
                  {%-unless block.type == 'banner'-%}
                  {%- if block.settings.turnoff == false %}
                  {%- capture img_id -%}SlideImage-{{ block.id }}{%- endcapture -%}
                  {%- assign image_item = block.settings.image -%}
                  {%- assign img_url = image_item | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {%- if block.type == 'video' -%}
                    {%- assign iframe = false -%}
                    {% if block.settings.video_url contains 'youtube.com' or block.settings.video_url contains 'youtu.be' %}
                      {%- assign iframe = true -%}
                    {% endif %}
                  {%- endif-%}
                  {%- assign btns_count = 0 -%}
                  {%- if block.settings.textBtn_1 != blank -%}
                    {%- assign btns_count = btns_count | plus: 1 -%}
                  {%- endif -%}
                  {%- if block.settings.textBtn_2 != blank -%}
                    {%- assign btns_count = btns_count | plus: 1 -%}
                  {%- endif -%}
                  <div class="swiper-slide slideshow__slide slideshow__slide--{{ block.id }}" data-slide-blockid="{{ block.id }}" {{ block.shopify_attributes }}>
                    <a class="imagecontainer is-cover" href="{{ block.settings.link_1 | default: '#'}}">
                      {%- if block.type == 'video' and iframe -%}            
                        <div class="bgndVideo" class="player" data-property="{videoURL:'{{block.settings.video_url}}', autoPlay:true, quality:'highres', stopMovieOnBlur: false}"></div>
                      {% elsif block.type == 'video' and iframe == false %}
                        <video playsinline autoplay loop muted{%if block.settings.image%} poster="{{block.settings.image|img_url: 'master'}}"{%endif%}>
                          {{block.settings.video_url|html}}
                        </video>
                      {%- endif-%}

                      {%- if block.settings.image and block.settings.image_mb-%}
                        <div class="item-slide d-none d-md-block imagecontainer-img{%if section.settings.fullscreen%} f-height{%endif%} lazyload" data-bgset="{%- render 'bgset', image: image_item, prioritize: 'height' -%}" data-sizes="auto" data-ogr="{{ image_item | img_url: 'master' }}">
                        </div>
                        {%- assign image_item_mobile = block.settings.image_mb -%}
                        {%- assign img_url = image_item_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <div class="item-slide d-md-none imagecontainer-img{%if section.settings.fullscreen%} f-height{%endif%} lazyload" data-bgset="{%- render 'bgset', image: image_item_mobile, prioritize: 'height' -%}" data-sizes="auto" data-ogr="{{ image_item_mobile | img_url: 'master' }}">
                        </div>
                        {%- capture css_img -%}
                          #Swiper-{{ section.id }} .slideshow__slide--{{ block.id }} .imagecontainer:before{ {%-assign width = image_item_mobile.width -%}{%-assign height = image_item_mobile.height | plus: 0.00-%}padding-bottom: {%if section.settings.fullscreen%}100vh;{%else%}{{height|divided_by: width | times: 100.00000000}}%;{%endif%}}
                          @media (min-width: 768px){
                            #Swiper-{{ section.id }} .slideshow__slide--{{ block.id }} .imagecontainer:before{ {%-assign width = image_item.width -%}{%-assign height = image_item.height | plus: 0.00-%}padding-bottom: {%if section.settings.fullscreen%}100vh;{%else%}{{height|divided_by: width | times: 100.00000000}}%;{%endif%}}
                          }
                        {%- endcapture -%}
                        {%- assign css = css|append:css_img -%}
                      {%- elsif block.settings.image -%}
                        <div class="item-slide imagecontainer-img{%if section.settings.fullscreen%} f-height{%endif%} lazyload" data-bgset="{%- render 'bgset', image: image_item, prioritize: 'height' -%}" data-sizes="auto" data-ogr="{{ image_item | img_url: 'master' }}">
                        </div>
                        {%- capture css_img -%}#Swiper-{{ section.id }} .slideshow__slide--{{ block.id }} .imagecontainer:before{ {%-assign width = image_item.width -%}{%-assign height = image_item.height | plus: 0.00-%}padding-bottom: {%if section.settings.fullscreen%}100vh;{%else%}{{height|divided_by: width | times: 100.00000000}}%;{%endif%}}{%- endcapture -%}
                        {%- assign css = css|append:css_img -%}
                      {%- else -%}
                        <div class="item-slide imagecontainer-img{%if section.settings.fullscreen%} f-height{%endif%}"></div>
                        {%- capture css_img -%}#Swiper-{{ section.id }} .slideshow__slide--{{ block.id }} .imagecontainer:before{padding-bottom: 36.45833333333333%;}{%- endcapture -%}
                        {%- assign css = css|append:css_img -%}
                      {%- endif -%}
                    </a>
                    {%- if block.settings.heading != blank or block.settings.subheading != blank or block.settings.description != blank or block.settings.textBtn_1 != blank or block.settings.textBtn_2 != blank -%}
                    <div class="imagecontainer__text-wrap">
                      <div class="slideshow__text-wrap{% if block.settings.width_section %} container{% endif %}">
                        <div class="slideshow__text-content">
                          <div class="page-width text-{{block.settings.text_alignment_mb}} text-md-{{block.settings.text_alignment}}">
                            {%- unless block.settings.heading == blank -%}
                              <div class="slideshow__title" style='font-family:{{block.settings.font_heading.family}};font-weight: {{block.settings.font_heading.weight}};font-style: {{block.settings.font_heading.style}}'>
                                {{ block.settings.heading | html }}
                              </div>
                              {%- unless fonts contains block.settings.font_heading.family -%}
                              {%- assign fonts = fonts | join: ',' | append: block.settings.font_heading.family | split: ',' -%}                    
                                {%- capture css_text -%}{{ block.settings.font_heading | font_face | strip_newlines}}{%- endcapture -%}{%- assign css = css|append:css_text -%}
                              {%- endunless -%}
                            {%- endunless -%}
                            {%- unless block.settings.subheading == blank -%}
                              <div class="slideshow__subtitle" style='font-family:{{block.settings.font_subheading.family}};font-weight: {{block.settings.font_subheading.weight}};font-style: {{block.settings.font_subheading.style}}'>
                                {{ block.settings.subheading | html }}
                              </div>
                              {%- unless fonts contains block.settings.font_subheading.family -%}
                              {%- assign fonts = fonts | join: ',' | append: block.settings.font_subheading.family | split: ',' -%}
                                {%- capture css_text -%}{{ block.settings.font_subheading | font_face | strip_newlines }}{%- endcapture -%}{%- assign css = css|append:css_text -%}
                              {%- endunless -%}
                            {%- endunless -%}
                            {%- unless block.settings.description == blank -%}
                              <div class="slideshow__description" style='font-family:{{block.settings.font_description.family}};font-weight: {{block.settings.font_description.weight}};font-style: {{block.settings.font_description.style}}'>
                                {{ block.settings.description | html }}
                              </div>
                              {%- unless fonts contains block.settings.font_description.family -%}
                              {%- assign fonts = fonts | join: ',' | append: block.settings.font_description.family | split: ',' -%}
                                {%- capture css_text -%}{{ block.settings.font_description | font_face | strip_newlines }}{%- endcapture -%}{%- assign css = css|append:css_text -%}
                              {%- endunless -%}
                            {%- endunless -%}
                            {%- if block.settings.textBtn_1 != blank -%}
                              <div class="slideshow__button list-inline-item mr-2">
                                <a class="btn {{block.settings.style_btn_1}} {{block.settings.style_btn_rounded_1}}{%if block.settings.btn_shadow_1%} btn-shadow{%endif%}" href="{{ block.settings.link_1 | default: '#' }}">{{ block.settings.textBtn_1 | html }}</a>
                              </div>
                            {%- endif -%}
                            {%- if block.settings.textBtn_2 != blank and block.settings.link_2 != blank -%}
                              <div class="slideshow__button list-inline-item last">
                                <a class="btn {{block.settings.style_btn_2}} {{block.settings.style_btn_rounded_2}}{%if block.settings.btn_shadow_2%} btn-shadow{%endif%}" href="{{ block.settings.link_2 | default: '#' }}">{{ block.settings.textBtn_2 | html }}</a>
                              </div>
                            {%- endif -%}
                          </div>
                        </div>
                      </div>
                        {%- capture css_textcontent -%}
                        #Swiper-{{ section.id }} .slideshow__slide--{{ block.id }} .slideshow__text-content{
                          top:{{block.settings.text_alignment_top|append:'%'}};
                          {{cssAlign}}:{{block.settings.text_alignment_left|append:'%'}};
                        }
                        #Swiper-{{ section.id }} .slideshow__slide--{{ block.id }} .slideshow__text-content .page-width{
                          {%- assign tY = block.settings.text_alignment_top|append:'%'-%}
                          {%- assign tX = block.settings.text_alignment_left|append:'%' -%}
                          {%- if cssAlign == 'right' -%}
                          transform: translate({{tX}},-{{tY}});
                          -moz-transform: translate({{tX}},-{{tY}});
                          -webkit-transform: translate({{tX}},-{{tY}});
                          -o-transform: translate({{tX}},-{{tY}});
                          {%- else -%}
                          transform: translate(-{{tX}},-{{tY}});
                          -moz-transform: translate(-{{tX}},-{{tY}});
                          -webkit-transform: translate(-{{tX}},-{{tY}});
                          -o-transform: translate(-{{tX}},-{{tY}});
                          {%- endif -%}
                        }
                        {%- endcapture -%}
                        {%- assign block_id = '.slideshow__slide--' | append: block.id -%}
                        {%- assign css_noscript = css_noscript | append: css_textcontent | append: css_btns | append: block.settings.css_block | append: block.settings.responsive_css | append: block.settings.responsive_css_subheading | append: block.settings.responsive_css_description | replace: ".block_id", block_id -%}
                    </div>
                    {%- endif -%}
                  </div>
                  {%- endif -%}
                  {%-endunless-%}
                  {%-endfor -%}
                </div>
                {%- if section.settings.use_dots -%}
                <div class="swiper-pagination swiper-pagination-{{section.settings.dots_mode}} swiper-pagination-{{section.settings.dots_position}} swiper-pagination-{{section.id}}"></div>
                {%- endif -%}
                {%- if section.settings.use_scrollbar -%}
                <div class="swiper-scrollbar"></div>
                {%- endif -%}
              </div>
              {%- if section.settings.use_navigation -%}
              <div class="swiper-buttons position-absolute">
                <div class="content-buttons position-relative">
                  <div class="swiper-button-prev swiper-button-prev-{{section.id}} fkt-angle-{{cssAlign|default:'left'}} fkt-2x fkt-va"></div>
                  <div class="swiper-button-next swiper-button-next-{{section.id}} fkt-angle-{{cssAlign_rev|default:'right'}} fkt-2x fkt-va"></div>
                </div>
              </div>
              {%- endif -%}
            </div>
          </div>
          {%style%}
            {{css}}
            {%- unless section.settings.fullscreen -%}
            {%- if section.settings.h_reponsive != blank -%}
            #Swiper-{{ section.id }} .slideshow__slide .imagecontainer:before{
              padding-bottom: {{section.settings.h_reponsive | append : 'px'}};
            }
            {%- endif -%}
            {%- if section.settings.h_reponsive_320 != blank -%}
            @media (min-width: 320px){
              #Swiper-{{ section.id }} .slideshow__slide .imagecontainer:before{
                padding-bottom: {{section.settings.h_reponsive_320 | append : 'px'}};
              }
            }
            {%- endif -%}
            {%- if section.settings.h_reponsive_576 != blank -%}
            @media (min-width: 576px){
              #Swiper-{{ section.id }} .slideshow__slide .imagecontainer:before{
                padding-bottom: {{section.settings.h_reponsive_576 | append : 'px'}};
              }
            }
            {%- endif -%}
            {%- if section.settings.h_reponsive_768 != blank -%}
            @media (min-width: 768px){
              #Swiper-{{ section.id }} .slideshow__slide .imagecontainer:before{
                padding-bottom: {{section.settings.h_reponsive_768 | append : 'px'}};
              }
            }
            {%- endif -%}
            {%- if section.settings.h_reponsive_992 != blank -%}
            @media (min-width: 992px){
              #Swiper-{{ section.id }} .slideshow__slide .imagecontainer:before{
                padding-bottom: {{section.settings.h_reponsive_992 | append : 'px'}};
              }
            }
            {%- endif -%}
            {%- if section.settings.h_reponsive_1200 != blank-%}
            @media (min-width: 1200px){
              #Swiper-{{ section.id }} .slideshow__slide .imagecontainer:before{
                padding-bottom: {{section.settings.h_reponsive_1200 | append : 'px'}};
              }
            }
            {%- endif -%}
            {%- endunless-%}
            {{css_noscript | strip_newlines}}
            {%- assign section_id = '#Swiper-' | append: section.id -%}
            {{section.settings.css_section | replace: ".section_id", section_id | strip_newlines}}
          {%endstyle%}
        </div>
        {%- if typeBlocks contains 'banner' and section.settings.banner_width != 0 -%}
        <div class="col-12 {{banner_width}} kt_home_slide_banner {{section.settings.content_type}}">
          <div class="row justify-content-center">
          {%- assign idx0 = 0 -%}
          {%- for block in section.blocks-%}
          {%-if block.type == 'banner' and section.settings.content_type == 'type-1'-%}
            <div class="item-banner col-12 col-md-6 col-lg-12 mt-2{% if idx0 == 0 %} mt-lg-0{% endif %}">
              <div class="banner banner-effect1">
                {%- assign image_item = block.settings.image -%}
                {%-assign width = image_item.width | default: 380.00 | plus: 0.00 -%}{%-assign height = image_item.height | default: 210.00 | plus: 0.00-%}
                <a href="{{block.settings.image_link|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name}}"{% unless block.settings.image %} title="380x210 px"{% endunless %}></a>
                {%- if block.settings.title != '' or block.settings.stitle != '' or block.settings.btn_name != '' -%}          
                <div class="banner-content wait-for-css">
                  {%- if block.settings.title != '' -%}
                  <h4 class="banner-subtitle text-white">{{block.settings.title}}</h4>
                  {%- endif -%}
                  {%- if block.settings.stitle != '' -%}
                  <h3 class="banner-title text-white">{{block.settings.stitle}}</h3>
                  {%- endif -%}
                  {%- if block.settings.btn_name != '' -%}
                  <a href="{{block.settings.image_link|default:'#'}}" class="btn btn-outline-white banner-link" aria-label="{{block.settings.btn_name| strip_html}}">{{block.settings.btn_name}}</a>    
                  {%- endif -%}
                </div>
                {%- endif -%}
              </div>
            </div>
            {%- assign idx0 = 1 -%}
          {%-endif-%}
          {%-if block.type == 'banner' and section.settings.content_type == 'type-2'-%}
            <div class="item-banner col-12 col-sm-6 col-lg-4 col-xl-12 mt-2{% if idx0 == 0 %} mt-xl-0{% endif %}">
              <div class="banner">
                {%- assign image_item = block.settings.image -%}
                {%-assign width = image_item.width | default: 380.00 | plus: 0.00 -%}{%-assign height = image_item.height | default: 120.00 | plus: 0.00-%}
                <a href="{{block.settings.image_link|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name}}"{% unless block.settings.image %} title="380x120 px"{% endunless %}></a>
                {%- if block.settings.title != '' or block.settings.stitle != '' or block.settings.btn_name != '' -%}          
                <div class="banner-content wait-for-css">
                  {%- if block.settings.title != '' -%}
                  <h4 class="banner-subtitle">{{block.settings.title}}</h4>
                  {%- endif -%}
                  {%- if block.settings.stitle != '' -%}
                  <h3 class="banner-title">{{block.settings.stitle}}</h3>
                  {%- endif -%}
                  {%- if block.settings.btn_name != '' -%}
                  <a href="{{block.settings.image_link|default:'#'}}" class="banner-link" aria-label="{{block.settings.btn_name| strip_html}}">
                    {{block.settings.btn_name}}
                  </a>    
                  {%- endif -%}
                </div>
                {%- endif -%}
              </div>
            </div>
            {%- assign idx0 = 1 -%}
          {%-endif-%}
          {%-if block.type == 'banner' and section.settings.content_type == 'type-3'-%}
            <div class="item-banner col-12 mt-2{% if idx0 == 0 %} mt-xl-0{% endif %}">
              <div class="banner banner-effect1">
                {%- assign image_item = block.settings.image -%}
                {%-assign width = image_item.width | default: 380.00 | plus: 0.00 -%}{%-assign height = image_item.height | default: 120.00 | plus: 0.00-%}
                <a href="{{block.settings.image_link|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name}}"{% unless block.settings.image %} title="380x120 px"{% endunless %}></a>
                {%- if block.settings.title != '' or block.settings.stitle != '' or block.settings.btn_name != '' -%}          
                <div class="banner-content wait-for-css">
                  {%- if block.settings.title != '' -%}
                  <h4 class="banner-subtitle">{{block.settings.title}}</h4>
                  {%- endif -%}
                  {%- if block.settings.stitle != '' -%}
                  <h3 class="banner-title">{{block.settings.stitle}}</h3>
                  {%- endif -%}
                  {%- if block.settings.btn_name != '' -%}
                  <a href="{{block.settings.image_link|default:'#'}}" class="banner-link" aria-label="{{block.settings.btn_name| strip_html}}">
                    {{block.settings.btn_name}}
                  </a>    
                  {%- endif -%}
                </div>
                {%- endif -%}
              </div>
            </div>
            {%- assign idx0 = 1 -%}
          {%-endif-%}
          {%-if block.type == 'banner-4' and section.settings.content_type == 'type-4'-%}
            <div class="item-banner col-12 col-sm-6 col-lg-4 col-xl-12 mt-2{% if idx0 == 0 %} mt-xl-0{% endif %}">
              <div class="banner">
                {%- assign image_item = block.settings.image -%}
                {%-assign width = image_item.width | default: 380.00 | plus: 0.00 -%}{%-assign height = image_item.height | default: 120.00 | plus: 0.00-%}
                <a href="{{block.settings.image_link|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name}}"{% unless block.settings.image %} title="380x120 px"{% endunless %}></a>
                {%- if block.settings.text != '' or block.settings.btn_name != '' -%}          
                <div class="banner-content wait-for-css">
                  {%- if block.settings.text != '' -%}
                  <h4 class="banner-subtitle">{{block.settings.text}}</h4>
                  {%- endif -%}
                  {%- if block.settings.btn_name != '' -%}
                  <a href="{{block.settings.image_link|default:'#'}}" class="banner-link" aria-label="{{block.settings.btn_name| strip_html}}">
                    {{block.settings.btn_name}}
                  </a>    
                  {%- endif -%}
                </div>
                {%- endif -%}
              </div>
            </div>
            {%- assign idx0 = 1 -%}
          {%-endif-%}
          {%-endfor -%}
          </div>
          {%-capture banner-css-%}
          {%style%}
            .kt_home_slide_banner .banner{
              display:block;
              position:relative;
              background-color:#ccc;
              z-index:0
            }
            .kt_home_slide_banner .item-banner:last-of-type .banner{
              margin-bottom:0
            }
            .kt_home_slide_banner .banner>a{
              position:relative;
              display:block;
              outline:0!important
            }
            .kt_home_slide_banner .banner img{
              display:block;
              max-width:none;
              width:100%;
              height:auto
            }
            .kt_home_slide_banner .banner-content{
              position:absolute;
              padding-top:.4rem;
              {{cssAlign}}:4rem;
              top:50%;
              z-index:2;
              transform:translateY(-50%);
              -ms-transform:translateY(-50%)
            }
            .kt_home_slide_banner .banner-content a:focus,
            .kt_home_slide_banner .banner-content a:hover{
              text-decoration:underline
            }
            .kt_home_slide_banner .banner-title{
              color:#333;
              font-weight:500;
              font-size:2rem;
              line-height:1.3;
              margin-bottom:1.5rem;
              letter-spacing:-.03em
            }
            .kt_home_slide_banner .banner-title a{
              color:inherit
            }
            .kt_home_slide_banner .banner-title a:focus,.kt_home_slide_banner .banner-title a:hover{
              text-decoration:none
            }
            .kt_home_slide_banner .banner-subtitle{
              color:#999;
              font-weight:300;
              font-size:1.6rem;
              line-height:1.2;
              letter-spacing:0;
              margin-bottom:1rem
            }
            .kt_home_slide_banner .banner-subtitle a{
              color:inherit
            }
            .kt_home_slide_banner .banner-subtitle a:focus,.kt_home_slide_banner .banner-subtitle a:hover{
              text-decoration:none
            }
            .kt_home_slide_banner .banner-link{
              font-weight:400;
              display:inline-block
            }
            .kt_home_slide_banner .btn.banner-link{
              font-size:1.4rem;
              line-height:1;
              padding:.8rem 1.4rem;
              min-width:0;
              text-transform:uppercase;
              text-decoration:none!important
            }
            .kt_home_slide_banner .btn.banner-link i{
              margin-right:0;
              margin-left:0
            }
            .kt_home_slide_banner .btn.banner-link i:first-child{
              margin-right:0
            }
            .kt_home_slide_banner .btn.banner-link i:last-child{
              margin-{{cssAlign}}:.9rem
            }
            .kt_home_slide_banner.type-2 .banner-content{
              {{cssAlign}}:3rem
            }
            .kt_home_slide_banner.type-2 .banner-title{
              font-weight:600;
              font-size:1.8rem;
              line-height:1.22;
              letter-spacing:-.01em;
              margin-bottom:.6rem;
              transition: color 0.3s;
            }
            .kt_home_slide_banner.type-2 .banner-title:hover{
              color: var(--primary)
            }
            .kt_home_slide_banner.type-2 .banner-title span{
              display:block;
              font-weight:300
            }
            .kt_home_slide_banner.type-2 .banner-subtitle{
              font-size:1.4rem;
              letter-spacing:-.01em;
              margin-bottom:.2rem
            }
            .kt_home_slide_banner.type-2 .banner-link{
              display:inline-block;
              line-height:1.3;
              padding:.3rem 1rem;
              border-radius:20px;
              letter-spacing:-.01em;
              margin-{{cssAlign}}:-1rem;
              text-align:center
            }
            .kt_home_slide_banner.type-2 .banner-link:focus,
            .kt_home_slide_banner.type-2 .banner-link:hover{
              color:#fff;
              background-color: {{settings.color_primary}};
              text-decoration:none
            }
            .kt_home_slide_banner.type-4 .banner-subtitle{
              color: #fff;
              text-transform: uppercase;
              margin-bottom: .3rem;
              line-height: 1.4;
              font-size: 1.8rem;
            }
            .kt_home_slide_banner.type-4 .banner-link{
              font-size: 1.4rem;
              text-transform: uppercase;
              letter-spacing: -.01rem;
              text-decoration: none !important;
            }
          {%endstyle%}
          {%-endcapture-%}
          {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- endunless-%}
{%-endif-%}

{%-schema-%}
  {
    "name": "Slideshow master",
    "class": "kt_slideshow md-collection-banners-box css_builded",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Slideshow",
        "info": "Name section (in editor bar)"
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 0.5
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "checkbox",
        "id": "no_overflow",
        "label": "___Display external content?"
      },
      {
        "type": "checkbox",
        "id": "fullscreen",
        "label": "___Use slideshow full screen?"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "___Use Autoplay?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_navigation",
        "label": "___Use navigation?",
        "default": true
      },
      {
        "type": "select",
        "id": "nav_style",
        "options": [
          {
            "value": "-default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          }
        ],
        "label": "Navigation style",
        "default": "-default"
      },
      {
        "type": "select",
        "id": "nav_mode",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "primary",
            "label": "Primary color"
          }
        ],
        "label": "Navigation mode",
        "default": "default"
      },
      {
        "type": "select",
        "id": "nav_position",
        "options": [
          {
            "value": "nav-default",
            "label": "Default"
          },
          {
            "value": "nav-center-center",
            "label": "Center center"
          },
          {
            "value": "nav-center-outside",
            "label": "Center outside"
          }
        ],
        "label": "Navigation position",
        "default": "nav-default"
      },
      {
        "type": "checkbox",
        "id": "use_dots",
        "label": "___Use dots?"
      },
      {
        "type": "select",
        "id": "dots_mode",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "primary",
            "label": "Primary color"
          }
        ],
        "label": "Dots mode",
        "default": "default"
      },
      {
        "type": "checkbox",
        "id": "use_scrollbar",
        "label": "___Use Scrollbar?"
      },
      {
        "type": "header",
        "content": "Height slider settings"
      },
      {
        "type": "text",
        "id": "h_reponsive",
        "label": "Mobile",
        "placeholder": "250"
      },
      {
        "type": "text",
        "id": "h_reponsive_320",
        "label": "On screen up 320px",
        "placeholder": "350"
      },
      {
        "type": "text",
        "id": "h_reponsive_576",
        "label": "On screen up 576px",
        "placeholder": "350"
      },
      {
        "type": "text",
        "id": "h_reponsive_768",
        "label": "On screen up 768px",
        "placeholder": "400"
      },
      {
        "type": "text",
        "id": "h_reponsive_992",
        "label": "On screen up 992px",
        "placeholder": "400"
      },
      {
        "type": "text",
        "id": "h_reponsive_1200",
        "label": "On screen up 1200px",
        "placeholder": "600"
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "min": 5,
        "max": 60,
        "step": 1,
        "unit": "s",
        "label": "Change slides every",
        "default": 7
      },
      {
        "type": "textarea",
        "id": "responsive",
        "label": "== Responsive",
        "default": "{\n\t\"0\": {\n\t\t\"slidesPerView\": 1,\n\t\t\"spaceBetween\": 10\n\t},\n\t\"320\": {\n\t\t\"slidesPerView\": 1,\n\t\t\"spaceBetween\": 10\n\t},\n\t\"768\": {\n\t\t\"slidesPerView\": 1,\n\t\t\"spaceBetween\": 10\n\t},\n\t\"992\": {\n\t\t\"slidesPerView\": 1,\n\t\t\"spaceBetween\": 10\n\t},\n\t\"1200\": {\n\t\t\"slidesPerView\": 1,\n\t\t\"spaceBetween\": 10\n\t}\n}"
      },
      {
        "type": "header",
        "content": "Banner settings"
      },
      {
        "type": "select",
        "id": "content_type",
        "label": "Banner Content type",
        "options": [
          { "value": "type-1", "label": "Type 1" },
          { "value": "type-2", "label": "Type 2" },
          { "value": "type-3", "label": "Type 3" },
          { "value": "type-4", "label": "Type 4" }
        ],
        "default": "type-1",
        "info": "Note *: You must select this item before adding the Item banner blocks."
      },
      {
        "type": "paragraph",
        "content": "Banner type 3 only appears on screens with resolutions greater than 1600px."
      },
      {
        "type": "header",
        "content": "CSS Custom"
      },
      {
        "type": "select",
        "id": "css_section__kt_select",
        "label": "Css text of slideshow",
        "options": [
          { "value": "Home13 md-collection-banners-box", "label": "Collection market" },
          { "value": "Home1", "label": "Home 1" },
          { "value": "Home2", "label": "Home 2" },
          { "value": "Home3", "label": "Home 3" },
          { "value": "Home4", "label": "Home 4" },
          { "value": "Home5", "label": "Home 5" },
          { "value": "Home6", "label": "Home 6" },
          { "value": "Home8", "label": "Home 8" },
          { "value": "Home9", "label": "Home 9" },
          { "value": "Home10", "label": "Home 10" },
          { "value": "Home12", "label": "Home 11" },
          { "value": "Home13", "label": "Home 13" },
          { "value": "Home14", "label": "Home 14" },
          { "value": "Home15", "label": "Home 15" },
          { "value": "Home16", "label": "Home 16" },
          { "value": "Home18", "label": "Home 18" },
          { "value": "Home19", "label": "Home 19" },
          { "value": "Home21", "label": "Home 21" },
          { "value": "Home22", "label": "Home 22" },
          { "value": "Home23", "label": "Home 23" },
          { "value": "Home23 1578469069366", "label": "Home 23 Slide 2" }
        ],
        "default": "Home1"
      },
      {
        "type":"html",
        "id": "css_section",
        "label": "Css for section",
        "info": "Keywords start: .section_id",
        "default": ".section_id .slideshow__subtitle sup {\n  vertical-align: top;\n  font-size: 1.3rem;\n  top: 1em;\n  margin-right: 0;\n  letter-spacing: -.01em;\n}\n@media screen and (min-width: 768px){\n  .section_id .slideshow__subtitle sup {\n    font-size: 1.6rem;\n  }\n}\n@media screen and (min-width: 992px){\n  .section_id .slideshow__subtitle sup {\n    font-size: 1.8rem;\n  }\n}\n@media screen and (min-width: 1200px){\n  .section_id .slideshow__subtitle sup {\n    font-size: 2rem;\n  }\n}"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Item image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mb",
            "label": "Image mobile"
          },
          {
            "type": "header",
            "content": "========================= Heading Text"
          },
          {
            "type": "html",
            "id": "heading",
            "label": "Text"
          },
          {
            "type": "font_picker",
            "label": "Font text Heading",
            "id": "font_heading",
            "default": "poppins_n7"
          },
          {
            "type": "html",
            "id": "responsive_css",
            "label": "Css responsive heading",
            "default": ".block_id .slideshow__title{\n  color: #fff;\n  font-size: 1.4rem;\n  letter-spacing: -.01em;\n  margin-bottom: .5rem;\n}\n\n@media (min-width: 576px){\n.block_id .slideshow__title{\n  font-size: 1.6rem;\n}\n}\n\n@media (min-width: 768px){\n.block_id .slideshow__title{\n  font-size: 1.8rem;\n}\n}\n\n@media (min-width: 992px){\n}\n\n@media (min-width: 1200px){\n.block_id .slideshow__title{\n  font-size: 2rem;\n}\n}",
            "info": "Keywords start: .block_id"
          },
          {
            "type": "header",
            "content": "========================= Subheading Text"
          },
          {
            "type": "html",
            "id": "subheading",
            "label": "Text"
          },
          {
            "type": "font_picker",
            "id": "font_subheading",
            "label": "Font text Subheading",
            "default": "poppins_n7"
          },
          {
            "type": "html",
            "id": "responsive_css_subheading",
            "label": "Css responsive subheading",
            "default": ".block_id .slideshow__subtitle{\n  color: #fff;\n  font-size: 3rem;\n  line-height: 1.2;\n  letter-spacing: -.03em;\n  margin-bottom: 1.2rem;\n}\n\n@media (min-width: 576px){\n.block_id .slideshow__subtitle{\n  font-size: 3.6rem;\n  margin-bottom: 1.3rem;\n }\n}\n\n@media (min-width: 768px){\n.block_id .slideshow__subtitle{\n  font-size: 4.2rem;\n  margin-bottom: 1.7rem;\n }\n}\n\n@media (min-width: 992px){\n}\n\n@media (min-width: 1200px){\n.block_id .slideshow__subtitle{\n  font-size: 5.2rem;\n }\n}",
            "info": "Keywords start: .block_id"
          },
          {
            "type": "header",
            "content": "========================= Description Text"
          },
          {
            "type": "html",
            "id": "description",
            "label": "Text"
          },
          {
            "type": "font_picker",
            "id": "font_description",
            "label": "Font text Description",
            "default": "poppins_n4"
          },
          {
            "type": "html",
            "id": "responsive_css_description",
            "label": "Css responsive description",
            "default": ".block_id .slideshow__description{\n  color: #fff;\n  margin-bottom: 0;\n  clear: both;\n  font-size: 14px;\n  line-height: 24px;\n}\n\n@media (min-width: 576px){\n}\n\n@media (min-width: 768px){\n.block_id .slideshow__description{\n  line-height: 36px;\n  font-size: 24px;\n  letter-spacing: 0.05em;\n }\n}\n\n@media (min-width: 992px){\n}\n\n@media (min-width: 1200px){\n}",
            "info": "Keywords start: .block_id"
          },
          {
            "type": "header",
            "content": "========================= Display settings"
          },
          {
            "type": "select",
            "id": "text_alignment_mb",
            "label": "Text alignment mobile",
            "options": [
              {
                "value": "",
                "label": "left"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "",
                "label": "left"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ],
            "default": "center"
          },
          {
            "type": "range",
            "id": "text_alignment_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Textbox alignment top",
            "default": 16
          },
          {
            "type": "range",
            "id": "text_alignment_left",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Textbox alignment left (with rtl is right)",
            "default": 16
          },
          {
            "type": "header",
            "content": "========================= Buttons"
          },
          {
            "type": "select",
            "id": "style_btn_1",
            "label": "Button Style 1",
            "default": "btn-primary",
            "options": [              
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_1",
            "label": "Button Style Radius 1",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_1",
            "label": "Use shadow for button 1?"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link 1"
          },
          {
            "type": "text",
            "id": "textBtn_1",
            "label": "Name button 1"
          },
          {
            "type": "paragraph",
            "content": "========"
          },
          {
            "type": "select",
            "id": "style_btn_2",
            "label": "Button Style 2",
            "default": "btn-outline-primary-2",
            "options": [              
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_2",
            "label": "Button Style Radius 2",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_2",
            "label": "Use shadow for button 2?"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link 2"
          },
          {
            "type": "text",
            "id": "textBtn_2",
            "label": "Name button 2"
          },
          {
            "type": "header",
            "content": "========================= Custom"
          },
          {
            "type": "checkbox",
            "id": "turnoff",
            "label": "TURN OFF BLOCK"
          },
          {
            "type": "text",
            "id": "title",
            "label": "NAME BLOCK",
            "default": "Item image",
            "info": "Name block (in editor bar)"
          },
          {
            "type":"checkbox",
            "id": "width_section",
            "label": "Max width textbox",
            "default": true,
            "info": "Max width = 1200px"
          },
          {
            "type":"html",
            "id": "css_block",
            "label": "Css for item",
            "info": "Keywords start: .block_id",
            "default": ".block_id {}"
          }
        ]
      },
      {
        "type": "video",
        "name": "Item video",
        "settings": [
          {
            "type": "header",
            "content": "Video settings=========="
          },
          {
            "type": "textarea",
            "id": "video_url",
            "label": "Video link",
            "default": "<source type=\"video/mp4\" src=\"\/\/cdn.shopify.com\/s\/files\/1\/1958\/5719\/files\/video_slideshow.mp4?7643285812109313593\"><source type=\"video/webm\" src=\"\/\/cdn.shopify.com\/s\/files\/1\/1958\/5719\/files\/video_slideshow.webm?7643285812109313593\">",
            "info" : "Background video(URL from Files)"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Fallback when autoplaying video is not supported on mobile devices"
          },
          {
            "type": "image_picker",
            "id": "image_mb",
            "label": "Image mobile"
          },
          {
            "type": "header",
            "content": "========================= Heading Text"
          },
          {
            "type": "html",
            "id": "heading",
            "label": "Text"
          },
          {
            "type": "font_picker",
            "label": "Font text Heading",
            "id": "font_heading",
            "default": "poppins_n7"
          },
          {
            "type": "html",
            "id": "responsive_css",
            "label": "Css responsive heading",
            "default": ".block_id .slideshow__title{\n  color: #fff;\n  margin-bottom: 0;\n  clear: both;\n  font-size: 14px;\n  line-height: 24px;\n}\n\n@media (min-width: 576px){\n}\n\n@media (min-width: 768px){\n.block_id .slideshow__title{\n  line-height: 36px;\n  font-size: 24px;\n  letter-spacing: 0.05em;\n }\n}\n\n@media (min-width: 992px){\n}\n\n@media (min-width: 1200px){\n}",
            "info": "Keywords start: .block_id"
          },
          {
            "type": "header",
            "content": "========================= Subheading Text"
          },
          {
            "type": "html",
            "id": "subheading",
            "label": "Text"
          },
          {
            "type": "font_picker",
            "id": "font_subheading",
            "label": "Font text Subheading",
            "default": "poppins_n7"
          },
          {
            "type": "html",
            "id": "responsive_css_subheading",
            "label": "Css responsive subheading",
            "default": ".block_id .slideshow__title{\n  color: #fff;\n  margin-bottom: 0;\n  clear: both;\n  font-size: 14px;\n  line-height: 24px;\n}\n\n@media (min-width: 576px){\n}\n\n@media (min-width: 768px){\n.block_id .slideshow__title{\n  line-height: 36px;\n  font-size: 24px;\n  letter-spacing: 0.05em;\n }\n}\n\n@media (min-width: 992px){\n}\n\n@media (min-width: 1200px){\n}",
            "info": "Keywords start: .block_id"
          },
          {
            "type": "header",
            "content": "========================= Description Text"
          },
          {
            "type": "html",
            "id": "description",
            "label": "Text"
          },
          {
            "type": "font_picker",
            "id": "font_description",
            "label": "Font text Description",
            "default": "poppins_n4"
          },
          {
            "type": "html",
            "id": "responsive_css_description",
            "label": "Css responsive description",
            "default": ".block_id .slideshow__title{\n  color: #fff;\n  margin-bottom: 0;\n  clear: both;\n  font-size: 14px;\n  line-height: 24px;\n}\n\n@media (min-width: 576px){\n}\n\n@media (min-width: 768px){\n.block_id .slideshow__title{\n  line-height: 36px;\n  font-size: 24px;\n  letter-spacing: 0.05em;\n }\n}\n\n@media (min-width: 992px){\n}\n\n@media (min-width: 1200px){\n}",
            "info": "Keywords start: .block_id"
          },
          {
            "type": "header",
            "content": "========================= Display settings"
          },
          {
            "type": "select",
            "id": "text_alignment_mb",
            "label": "Text alignment mobile",
            "options": [
              {
                "value": "",
                "label": "left"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "",
                "label": "left"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ],
            "default": "center"
          },
          {
            "type": "range",
            "id": "text_alignment_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Textbox alignment top",
            "default": 16
          },
          {
            "type": "range",
            "id": "text_alignment_left",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Textbox alignment left (with rtl is right)",
            "default": 16
          },
          {
            "type": "header",
            "content": "========================= Buttons"
          },
          {
            "type": "select",
            "id": "style_btn_1",
            "label": "Button Style 1",
            "default": "btn-primary",
            "options": [              
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_1",
            "label": "Button Style Radius 1",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_1",
            "label": "Use shadow for button 1?"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link 1"
          },
          {
            "type": "text",
            "id": "textBtn_1",
            "label": "Name button 1"
          },
          {
            "type": "paragraph",
            "content": "========"
          },
          {
            "type": "select",
            "id": "style_btn_2",
            "label": "Button Style 2",
            "default": "btn-outline-primary-2",
            "options": [              
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_2",
            "label": "Button Style Radius 2",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_2",
            "label": "Use shadow for button 2?"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link 2"
          },
          {
            "type": "text",
            "id": "textBtn_2",
            "label": "Name button 2"
          },
          {
            "type": "header",
            "content": "========================= Custom"
          },
          {
            "type": "checkbox",
            "id": "turnoff",
            "label": "TURN OFF BLOCK"
          },
          {
            "type": "text",
            "id": "title",
            "label": "NAME BLOCK",
            "default": "Item image",
            "info": "Name block (in editor bar)"
          },
          {
            "type":"checkbox",
            "id": "width_section",
            "label": "Max width textbox",
            "default": true,
            "info": "Max width = 1200px"
          },
          {
            "type":"html",
            "id": "css_block",
            "label": "Css for item",
            "info": "Keywords start: .block_id",
            "default": ".block_id {}"
          }
        ]
      },
      {
        "type": "banner",
        "name": "Item banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image Banner"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Text content"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "stitle",
            "label": "Sub Title"
          },
          {
            "type": "text",
            "id": "btn_name",
            "label": "Name button"
          }
        ]
      },
      {
        "type": "banner-4",
        "name": "Item banner type 4",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image Banner"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Text content"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text content"
          },
          {
            "type": "text",
            "id": "btn_name",
            "label": "Name button"
          }
        ]
      }
    ]
  }
{% endschema %}