@using Entities.Models
@model Categories
@{
    ViewBag.Title = "AddCategory";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Kategori Ekle</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("SaveCategory", "Category", FormMethod.Post, new { @class = "form-horizontal", @id = "addCategoryform" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Adı</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", name = "Name", required = "required", value = Model.Name })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipi</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Type, new { @class = "form-control", name = "Type", required = "required", value = Model.Type })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Üst Kategorisi</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.ParentCategory.Oid, new { @class = "form-control", name = "ParentOid", value = Model.ParentCategory.Oid })
                                @Html.DropDownListFor(model => model.ParentCategory, new SelectList(ViewBag.Data["Categories"], "Oid", "Name"),
                                              "-- Kategori Seçiniz  --", new { @class = "form-control", name = "ParentOid" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Resim</label>
                            <div class="col-sm-10">
                                @*@Html.TextBoxFor(x => x.Image, new { @class = "form-control", name = "Image", required = "required", value = Model.Image })*@
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Resim Seçiniz</span>
                                        <span class="fileinput-exists">Düzenle</span>
                                        <input type="file" name="Image" onchange="readURL(this);" />
                                    </span>
                                    <span id="myText" class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                    <img id="blah" src="@String.Format("data:image/gif;base64,{0}", Model.Image)" alt="your image" />
                                    <p style="display: none; color:red;" ><i>Uyarı</i></p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white">İptal</button>
                                <button class="btn btn-primary" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(64)
                    .height(64);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
