@using Entities.Models
@model List<Categories>
@{
    ViewBag.Title = "ListCategory";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Basic Table</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Tipi</th>
                            <th>Üst Kategori</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                        <tr>
                            <td>@category.Oid</td>
                            <td>@category.Name</td>
                            <td>@category.Type</td>
                            <td>@category.ParentCategory.Name</td>
                            <td style="float:initial">
                                <a href="@Url.Action("AddCategory", "Category", new { id = category.Oid })" class="btn btn-info">Düzenle</a>
                                <a href="@Url.Action("DeleteCategory", "Category", new { id = category.Oid })" class="btn btn-danger">Sil</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

