@using Entities.Models
@{
    ViewBag.Title = "Home Page";
}

<main class="main">
    <div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                        "nav": false,
                        "responsive": {
                            "992": {
                                "nav": true
                            }
                        }
                    }'>
            @foreach (var item in ViewBag.Data["MainScreenProducts"] as List<Product>)
            {
                @*<div class="intro-slide" style="background-image: url(https://www.dciedge.com/images/360/series5SM-large-01.jpg);">*@
                <div class="intro-slide" style="height: 500px !important;width: 100% !important; background-image:url(@String.Format("data:image/gif;base64,{0}", item.Image))">
                    <div class="container intro-content">
                        <div class="row">
                            <div class="col-auto offset-lg-3 intro-col">
                                <h3 class="intro-subtitle">Fırsat Ürün</h3>
                                <h1 class="intro-title">
                                    @item.Brand.Name <br>@item.Name
                                    <span>
                                        <sup class="font-weight-light"></sup>
                                        <span class="text-primary">₺ @item.Price</span>
                                    </span>
                                </h1>

                                <a href="@Url.Action("AddCart", "Cart", new { id = item.Oid })" class="btn btn-outline-primary-2">
                                    <span>Satın Al</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <span class="slider-loader"></span>
    </div>

    <div class="mb-4"></div>

    @*<div class="container">
            <h2 class="title text-center mb-2">Popüler Kategorileri Keşfet</h2>

            <div class="cat-blocks-container">
                <div class="row">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="~/Assets/category.html" class="cat-block">
                            <figure>
                                <span>
                                    <img style="width: 180px;height: 180px;" src="https://lh3.googleusercontent.com/proxy/7WKcfAxzxfGFxvMoFyfZL6z95vjgEXfLT4dzhH8Z2prnHPNXBSCpaUiAs8yMtaqjAhNYsYAOenkVL8EFDu80NY0O2E1eF_A6ZBTfPkJqWBEbL5p-xKjMfU-pum_Jw_BUeuOOobV0-p_72yznBQ7YnPbgQWT95GFfsG9OdXs" alt="Category image">
                                </span>
                            </figure>

                            <h3 class="cat-block-title">Anestezi ve Enjeksiyon</h3>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="~/Assets/category.html" class="cat-block">
                            <figure>
                                <span>
                                    <img style="width: 180px;height: 180px;" src="https://www.sedenta.com/wp-content/uploads/2018/03/FG200C-300x300.jpg" alt="Category image">
                                </span>
                            </figure>

                            <h3 class="cat-block-title">Dental Frezler</h3>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="~/Assets/category.html" class="cat-block">
                            <figure>
                                <span>
                                    <img style="width: 180px;height: 180px;" src="https://lh3.googleusercontent.com/proxy/g6tpJg2wClfwXufc6mI3amxZU6klLMxDF2WxNenqkjZFAk9x9-CLwq3b7ibA9zOXvYojyPyIVQdMBtOWtaf2f_rQFo5Zdr132SjZy4W2mJ5OFrrgD3S2pFKiwJW2" alt="Category image">
                                </span>
                            </figure>

                            <h3 class="cat-block-title">Bitirme ve Cilalama</h3>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="~/Assets/category.html" class="cat-block">
                            <figure>
                                <span>
                                    <img style="width: 180px;height: 180px;" src="https://www.rolanddg.com.tr/-/media/roland-emea/images/support/product_shots/dwx4.jpg?h=360&w=480&la=tr&hash=B85FD781B219241C996C2FFD1ACF1F34AA76D6D8" alt="Category image">
                                </span>
                            </figure>

                            <h3 class="cat-block-title">Dental Cad Cam</h3>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="~/Assets/category.html" class="cat-block">
                            <figure>
                                <span>
                                    <img style="width: 180px;height: 180px;" src="https://lh3.googleusercontent.com/proxy/UTLwNzG0jaDl2K53il1KMPTvyyYW-B3d_n9CoyP6CHbrs1_wDQZPCXNM0BZIWhJuyF-RdvzjxH48M-ryauu6UdNpICInZEjGJIbGEGTfLaJ6s7RCRZJuxlEJpxq-nxWEViZjTDV3OEwYjXA" alt="Category image">
                                </span>
                            </figure>

                            <h3 class="cat-block-title">Dental El Aletleri</h3>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="~/Assets/category.html" class="cat-block">
                            <figure>
                                <span>
                                    <img style="width: 180px;height: 180px;" src="https://st3.myideasoft.com/idea/ch/06/myassets/products/503/gluma-self-etch.jpg?revision=1494261566" alt="Category image">
                                </span>
                            </figure>

                            <h3 class="cat-block-title">Bonding ve Asit Sistemleri</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="mb-2"></div><!-- End .mb-2 -->
    @* <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="banner banner-overlay">
                        <a href="#">
                            <img src="~/Assets/assets/images/demos/demo-13/banners/banner-1.jpg" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle text-white"><a href="#">Weekend Sale</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title text-white"><a href="#">Lighting <br>& Accessories <br><span>25% off</span></a></h3><!-- End .banner-title -->
                            <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-3 -->

                <div class="col-sm-6 col-lg-3 order-lg-last">
                    <div class="banner banner-overlay">
                        <a href="#">
                            <img src="~/Assets/assets/images/demos/demo-13/banners/banner-3.jpg" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle text-white"><a href="#">Smart Offer</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title text-white"><a href="#">Anniversary <br>Special <br><span>15% off</span></a></h3><!-- End .banner-title -->
                            <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-3 -->

                <div class="col-lg-6">
                    <div class="banner banner-overlay">
                        <a href="#">
                            <img src="~/Assets/assets/images/demos/demo-13/banners/banner-2.jpg" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="#">Amazing Value</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title text-white"><a href="#">Clothes Trending <br>Spring Collection 2019 <br><span>from $12,99</span></a></h3><!-- End .banner-title -->
                            <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    *@

    <div class="mb-3"></div><!-- End .mb-3 -->

    <div class="bg-light pt-3 pb-5">
        <div class="container">
            <div class="heading heading-flex heading-border mb-3">
                <div class="heading-left">
                    <h2 class="title">Çok Satanlar</h2><!-- End .title -->
                </div><!-- End .heading-left -->
            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="hot-all-tab" role="tabpanel" aria-labelledby="hot-all-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1280": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>
                        @foreach (var item in ViewBag.Data["BestSellerProducts"] as List<Product>)
                        {


                            <div class="product">
                                <figure class="product-media">
                                    @*<span class="product-label label-sale">Sale</span>*@
                                    <a href="~/Assets/product.html">
                                        @*<img src="~/Assets/assets/images/demos/demo-13/products/product-1.jpg" alt="Product image" class="product-image">*@
                                        @*<img src="https://ae01.alicdn.com/kf/HTB1NI6Uc8Kw3KVjSZFOq6yrDVXa7/KD-202A-3-3W-LED-di-ENT-muayene-cerrahi-t-bbi-kafa-k.jpg" alt="Product image" class="product-image">*@
                                        <img src="@String.Format("data:image/gif;base64,{0}", item.Image)" alt="Product image" class="product-image" />

                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="@Url.Action("AddWishList", "User", new { id = item.Oid })" class="btn-product-icon btn-wishlist btn-expandable"><span>Favorilere Ekle</span></a>
                                        @*<a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>*@
                                        @*<a href="~/Assets/popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>*@
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="@Url.Action("AddCart", "Cart", new { id = item.Oid })" class="btn-product btn-cart" title="Add to cart"><span>sepete ekle</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="@Url.Action("BrandResult", "Brand", new { id = item.Oid })">@item.Brand.Name</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="@Url.Action("ProductDetail", "Product", new { Oid = item.Oid   })">@item.Name</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">@item.Price</span>
                                        @*<span class="old-price">Was $290.00</span>*@
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        @*<span class="ratings-text">( 2 Reviews )</span>*@
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        }
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->

            </div><!-- End .tab-content -->
        </div><!-- End .container -->
    </div><!-- End .bg-light pt-5 pb-5 -->

    <div class="mb-3"></div><!-- End .mb-3 -->

    <div class="container electronics">
        <div class="heading heading-flex heading-border mb-3">
            <div class="heading-left">
                <h2 class="title">Fırsat Ürünler</h2><!-- End .title -->
            </div><!-- End .heading-left -->
        </div><!-- End .heading -->

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="elec-new-tab" role="tabpanel" aria-labelledby="elec-new-link">
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1280": {
                                        "items":5,
                                        "nav": true
                                    }
                                }
                            }'>
                    @foreach (var item in ViewBag.Data["OpportunityProducts"] as List<Product>)
                    {
                        <div class="product">
                            <figure class="product-media">
                                @*<span class="product-label label-new">New</span>*@
                                <a href="~/Assets/product.html">
                                    @*<img src="~/Assets/assets/images/demos/demo-13/products/product-6.jpg" alt="Product image" class="product-image">*@
                                    <img src="@String.Format("data:image/gif;base64,{0}", item.Image)" alt="Product image" class="product-image" />

                                </a>

                                <div class="product-action-vertical">
                                    <a href="@Url.Action("AddWishList", "User", new { id = item.Oid })" class="btn-product-icon btn-wishlist btn-expandable"><span>favorilere ekle</span></a>
                                    @*<a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>*@
                                    @*<a href="~/Assets/popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>*@
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="@Url.Action("AddCart", "Cart", new { id = item.Oid })" class="btn-product btn-cart" title="Add to cart"><span>sepete ekle</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="@Url.Action("BrandResult", "Brand", new { id = item.Oid })">@item.Brand.Name</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="@Url.Action("ProductDetail", "Product", new { Oid = item.Oid })">@item.Name</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @item.Price
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    @*<span class="ratings-text">( 12 Reviews )</span>*@
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    }

                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
    </div><!-- End .container -->

    <div class="mb-3"></div><!-- End .mb-3 -->
    @* <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner banner-overlay banner-overlay-light">
                        <a href="#">
                            <img src="~/Assets/assets/images/demos/demo-13/banners/banner-4.jpg" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle d-none d-sm-block"><a href="#">Spring Sale is Coming</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a href="#">All Smart Watches <br>Discount <br><span class="text-primary">15% off</span></a></h3><!-- End .banner-title -->
                            <a href="#" class="banner-link banner-link-dark">Discover Now <i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-6 -->

                <div class="col-lg-6">
                    <div class="banner banner-overlay">
                        <a href="#">
                            <img src="~/Assets/assets/images/demos/demo-13/banners/banner-5.png" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle text-white  d-none d-sm-block"><a href="#">Amazing Value</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title text-white"><a href="#">Headphones Trending <br>JBL Harman <br><span>from $59,99</span></a></h3><!-- End .banner-title -->
                            <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div>*@<!-- End .container -->

    <div class="mb-1"></div><!-- End .mb-1 -->

    <div class="container furniture">
        <div class="heading heading-flex heading-border mb-3">
            <div class="heading-left">
                <h2 class="title">Yeni Ürünler</h2><!-- End .title -->
            </div><!-- End .heading-left -->
            @*<div class="heading-right">
                    <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="furn-new-link" data-toggle="tab" href="~/Assets/#furn-new-tab" role="tab" aria-controls="furn-new-tab" aria-selected="true">New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="furn-featured-link" data-toggle="tab" href="~/Assets/#furn-featured-tab" role="tab" aria-controls="furn-featured-tab" aria-selected="false">Featured</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="furn-best-link" data-toggle="tab" href="~/Assets/#furn-best-tab" role="tab" aria-controls="furn-best-tab" aria-selected="false">Best Seller</a>
                        </li>
                    </ul>
                </div>*@<!-- End .heading-right -->
        </div><!-- End .heading -->

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="furn-new-tab" role="tabpanel" aria-labelledby="furn-new-link">
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1280": {
                                        "items":5,
                                        "nav": true
                                    }
                                }
                            }'>
                    @foreach (var item in ViewBag.Data["NewProducts"] as List<Product>)
                    {
                        <div class="product">
                            <figure class="product-media">
                                @*<span class="product-label label-new">New</span>*@
                                <a href="~/Assets/product.html">
                                    @*<img src="~/Assets/assets/images/demos/demo-13/products/product-11.jpg" alt="Product image" class="product-image">*@
                                    <img src="@String.Format("data:image/gif;base64,{0}", item.Image)" style="width: 250px !important; height: 217px !important;" alt="Product image" class="product-image" />

                                </a>

                                <div class="product-action-vertical">
                                    <a href="@Url.Action("AddWishList", "User", new { id = item.Oid })" class="btn-product-icon btn-wishlist btn-expandable"><span>Favorilere Ekle</span></a>

                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="@Url.Action("AddCart", "Cart", new { id = item.Oid })" class="btn-product btn-cart" title="Add to cart"><span>sepete ekle</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="@Url.Action("BrandResult", "Brand", new { id = item.Oid })">@item.Brand.Name</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="@Url.Action("ProductDetail", "Product", new { Oid = item.Oid })">@item.Name</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @item.Price
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    }
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane p-0 fade" id="furn-featured-tab" role="tabpanel" aria-labelledby="furn-featured-link">
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1280": {
                                        "items":5,
                                        "nav": true
                                    }
                                }
                            }'>
                    @foreach (var item in ViewBag.Data["NewProducts"] as List<Product>)
                    {
                        <div class="product">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <a href="~/Assets/product.html">
                                    @*<img src="~/Assets/assets/images/demos/demo-13/products/product-13.jpg" alt="Product image" class="product-image">*@
                                    <img src="@String.Format("data:image/gif;base64,{0}", item.Image)" alt="Product image" class="product-image" />

                                </a>

                                <div class="product-action-vertical">
                                    <a href="@Url.Action("AddWishList", "User", new { id = item.Oid })" class="btn-product-icon btn-wishlist btn-expandable"><span>favorilere ekle</span></a>
                                </div>

                                <div class="product-action">
                                    <a href="@Url.Action("AddCart", "Cart", new { id = item.Oid })" class="btn-product btn-cart" title="Add to cart"><span>sepete ekle</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="@Url.Action("BrandResult", "Brand", new { id = item.Oid })">@item.Brand.Name</a>
                                </div>
                                <h3 class="product-title"><a href="@Url.Action("ProductDetail", "Product", new { Oid = item.Oid })">@item.Name</a></h3>
                                <div class="product-price">
                                    <span class="new-price">@item.Price</span>

                                </div>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 60%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>

    <div class="mb-3"></div>

    <div class="container clothing ">
        <div class="heading heading-flex heading-border mb-3">
            <div class="heading-left">
                <h2 class="title">Outlet Ürünler</h2>
            </div>
        </div>

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="clot-new-tab" role="tabpanel" aria-labelledby="clot-new-link">
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1280": {
                                        "items":5,
                                        "nav": true
                                    }
                                }
                            }'>
                    @foreach (var item in ViewBag.Data["OutletProducts"] as List<Product>)
                    {
                        <div class="product">
                            <figure class="product-media">
                                <a href="~/Assets/product.html">
                                    @*<img src="~/Assets/assets/images/demos/demo-13/products/product-16.jpg" alt="Product image" class="product-image">*@
                                    <img src="@String.Format("data:image/gif;base64,{0}", item.Image)" alt="Product image" class="product-image" />

                                </a>

                                <div class="product-action-vertical">
                                    <a href="@Url.Action("AddWishList", "User", new { id = item.Oid })" class="btn-product-icon btn-wishlist btn-expandable"><span>favorilere ekle</span></a>
                                </div>

                                <div class="product-action">
                                    <a href="@Url.Action("AddCart", "Cart", new { id = item.Oid })" class="btn-product btn-cart" title="Add to cart"><span>sepete ekle</span></a>
                                </div>
                            </figure>

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="@Url.Action("BrandResult", "Brand", new { id = item.Oid })">@item.Brand.Name</a>
                                </div>
                                <h3 class="product-title"><a href="@Url.Action("ProductDetail", "Product", new { Oid = item.Oid })">@item.Name</a></h3>
                                <div class="product-price">
                                    @item.Price
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>

    <div class="mb-3"></div>

    @*<div class="container">
            <h2 class="title title-border mb-5">Markalar</h2>
            <div class="owl-carousel mb-5 owl-simple" data-toggle="owl"
                 data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "margin": 30,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "420": {
                                    "items":3
                                },
                                "600": {
                                    "items":4
                                },
                                "900": {
                                    "items":5
                                },
                                "1024": {
                                    "items":6
                                },
                                "1280": {
                                    "items":6,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                <a href="#" class="brand">
                    <img src="~/Assets/assets/images/brands/1.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="~/Assets/assets/images/brands/2.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="~/Assets/assets/images/brands/3.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="~/Assets/assets/images/brands/4.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="~/Assets/assets/images/brands/5.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="~/Assets/assets/images/brands/6.png" alt="Brand Name">
                </a>

                <a href="#" class="brand">
                    <img src="~/Assets/assets/images/brands/7.png" alt="Brand Name">
                </a>
            </div>
        </div>*@

    <div class="cta cta-horizontal cta-horizontal-box bg-primary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2xl-5col">
                    <h3 class="cta-title text-white">Yeni Ürün ve İndirimlerden İlk Sizin Haberiniz Olsun</h3>
                    <p class="cta-desc text-white">İndirimlerden haberdar olmak için hemen abone ol!</p>
                </div>

                <div class="col-3xl-5col">
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control form-control-white" placeholder="Email Adresinizi Girin" aria-label="Email Adress" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-white-2" type="submit"><span>ABONE OL</span><i class="icon-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>