<!doctype html>
{%- assign dir_body = settings.dir_body -%}
{%- if cart.attributes.theme_align -%}
  {%- assign dir_body = cart.attributes.theme_align -%}
{%- endif -%}
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}" dir="{{dir_body}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}" dir="{{dir_body}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.issued.title_html' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  {% render 'styleSpeed' %}
  {{'bootstrap.css'|asset_url|stylesheet_tag}}
  {{'style.min.css'|asset_url|stylesheet_tag}}
  {{'theme.scss.css'|asset_url|stylesheet_tag}}
  {{'gift-card.scss.css'|asset_url|stylesheet_tag}}
  {{'kiti.scss.css'|asset_url|stylesheet_tag}}
  <script>
    "undefined" == typeof KT && (KT = {});
    var theme = {
      strings: {
        qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }},
        cdday: {{'general.countdown.count_down_day' | t | json}},
        cdhrs: {{'general.countdown.count_down_hours' | t | json}},
        cdmin: {{'general.countdown.count_down_minute' | t | json}},
        cdsecs: {{'general.countdown.count_down_seconds' | t | json}}
      }
    };

      KT.loadScript = function(id, callback) {
        var path = '';
        if($('#'+id).length > 0){
          var callbackTimer = setInterval(function() {
            if (id == 'moment' && typeof moment === 'function'){
              handleLoad();
              clearInterval(callbackTimer);
              return false;
            }
            if (id == 'moment-timezone' && typeof moment.tz === 'function'){
              handleLoad();
              clearInterval(callbackTimer);
              return false;
            }
            if(id === 'countdown') {
              handleLoad();
              clearInterval(callbackTimer);
              return false;
            }
          }, 100);
        }
        else {
          if(id == 'countdown'){
            path = '//cdn.shopify.com/s/files/1/1958/5719/files/jquery.countdown.min.js?2118737051602315786';
          } else if(id == 'moment'){
            path = '//cdn.shopify.com/s/files/1/1958/5719/files/moment.min.js?2118737051602315786';
          } else if(id == 'moment-timezone'){
            path = '//cdn.shopify.com/s/files/1/1958/5719/files/moment-timezone-with-data-2012-2022.min.js?2118737051602315786';
          }
          var done = false;
          var scr = document.createElement('script');

          scr.id = id;
          scr.onload = handleLoad;
          scr.onreadystatechange = handleReadyStateChange;
          scr.onerror = handleError;
          scr.src = path;
          document.body.appendChild(scr);
        }
        function handleLoad() {
          if (!done) {
            done = true;
            callback(path, "ok");
          }
        }
        function handleReadyStateChange() {
          var state;
          if (!done) {
            state = scr.readyState;
            if (state === "complete") {
              handleLoad();
            }
          }
        }
        function handleError() {
          if (!done) {
            done = true;
            callback(path, "error");
          }
        }
      }
  </script>

  {{ content_for_header }}
</head>

<body class="template-giftcard">
  {{ content_for_layout }}
  <script src="{{ 'vendor.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>
  <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script>
  <script src="{{ 'gift-card.js' | asset_url }}" defer="defer"></script>
</body>
</html>
