<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="theme-color" content="{{ settings.color_button }}">
  {%- render 'meta-tags' -%}
  {% render 'styleSpeed' %}
  {{'style.min.css'|asset_url|stylesheet_tag}}
  {{'theme.scss.css'|asset_url|stylesheet_tag}}
  {{'password.css'|asset_url|stylesheet_tag}}
  {{'kiti.scss.css'|asset_url|stylesheet_tag}}
  {{ content_for_header }}
  {%- render 'theme_header_js' -%}
</head>

<body class="template-password">    
  <div class="soon">
    {{ content_for_layout }}
  </div>
  <div class="content_for_extension">
    <section id="LoginPasswordModal" class="modal fade" aria-hidden="false" role="dialog" tabindex="-1" data-mobile-display="{{settings.newsletter_popup_hide_mobile}}">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <button class="close" aria-label="Close" data-dismiss="modal" type="button">
            <i class="icon-close"></i>
          </button>
          <div class="text-center py-10i">
            <h2 class="password__form-heading mb-3 h4" id="password-modal-heading">{{ 'general.password_page.login_form_heading' | t }}</h2>
              {% form 'storefront_password' %}
                {%- if form.errors -%}
                  <div class="password-form-message form-message form-message--error">
                    {{ form.errors | default_errors }}
                  </div>
                  <script>
                    $('#LoginPasswordModal').modal();
                  </script>
                {%- endif -%}
                <label for="Password" class="d-none">{{ 'general.password_page.login_form_password_label' | t }}</label>
                <div class="input-group mb-5 pl-3 pr-3" style="max-width: 550px;margin-right: auto;margin-left: auto;">
                  <input type="password" name="password" id="Password" class="form-control bg-transparent mr-2" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" style="margin-right: 1rem;">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit"><span>{{ 'general.password_page.login_form_submit' | t }}</span></button>
                  </div>
                </div>
              {% endform %}
            <p>{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="content_for_footer">
    <script src="{{'vendor.js' | asset_url }}"{%unless admin_shopify%} defer="defer"{%endunless%}></script> 
    <script src="{{'theme_footer_js.js' | asset_url }}"{%unless admin_shopify%} defer="defer"{%endunless%}></script> 
    <script src="{{'footer_js.js' | asset_url }}" defer="defer"></script> 
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    {%- render 'googleRich' -%}
  </div>
  <div id="getScrollbarWidth" style="width:200px;height:150px; position: absolute; top: 0; left: 0; visibility: hidden; overflow:hidden;"><div id="getScrollbarWidthChild" style="width: 100%; height:200px;">test</div></div>
</body>
</html>
