<!doctype html>
{%- assign dir_body = settings.dir_body -%}
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}" dir="{{dir_body}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js{%if settings.popup_ageVerification%} ageVerificationModal{%endif%}" lang="{{ shop.locale }}" dir="{{dir_body}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    {%- liquid
      render 'meta-tags', dir_body: dir_body
      render 'styleSpeed'
    -%}
    {%- if dir_body == 'ltr' -%}
    {{'style.min.css'|asset_url|stylesheet_tag}}
    {% comment %}{{'theme.scss.css'|asset_url|stylesheet_tag}}{% endcomment %}
    {%- else -%}
    {{'style-rtl.min.css'|asset_url|stylesheet_tag}}
    {% comment %}{{'theme-rtl.scss.css'|asset_url|stylesheet_tag}}{% endcomment %}
    {%- endif -%}
    {{settings.custom_html_head|html}}
    {{'kiti.scss.css'|asset_url|stylesheet_tag}}
    {{ content_for_header }}
    {%-render 'theme_header_js'-%}
    <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->
    {%- if template.directory == 'customers' -%}
      <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
      <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
    {%- endif -%}
    {%- if settings.review_app == 'ryviu' -%}
    <!-- RYVIU APP :: Settings global -->
    <script> var ryviu_global_settings = {{shop.metafields.ryviu.user_settings }}; </script>
    <!-- RYVIU APP -->
    {%- endif -%}
  </head>
  <body class="{% if template contains 'index' %} home{% endif %}{% if customer %} customer-logged-in {% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" id="{{ page_title | handle }}">
    {%- liquid 
      assign admin_shopify = false
      capture checkAdminEditor
        section 'checkAdminEditor'
      endcapture      
      if checkAdminEditor contains 'data-theme-editor-section'
        assign admin_shopify = true
        assign t4pcc = shop.metafields.t4pcc.molla
      endif
    -%}
    <div id="bg-overlay"></div>
    <div class="content_for_page">
      {%- liquid 
        section 'header'
        section 'header-mobile'
      -%}
      <div id="PageContainer" class="page-container shopify-section">
        <main class="main-content{%if settings.use_wrap_container %} wrap-container{%endif%}" id="MainContent">
          {%- liquid
            unless template contains 'index'
              section 'kt_banner_all_page'
              section 'kt_top_banner'
            endunless
          -%}
          {{ content_for_layout }}
        </main>
      </div>
      {%- liquid
        if settings.use_wrap_container
          echo '<div class="wrap-container">'
        endif
        case settings.import_footer
          when '00'
            section 'footer'
          when '01'
            section 'footer_01'
          when '02'
            section 'footer_02'
          when '03'
            section 'footer_03'
          when '04'
            section 'footer_04'
          when '05'
            section 'footer_05'
          when '06'
            section 'footer_06'
          when '07'
            section 'footer_07'
          when '08'
            section 'footer_08'
        endcase
        if settings.use_wrap_container
          echo '</div>'
        endif
      -%}
    </div>
    <div class="content_for_extension">
      {% liquid
        section 'custom_color'
        if settings.popup_cookies and admin_shopify
          section 'cookies_popup'
        endif
        if settings.popup_ageVerification
          section 'kt_ageVerification'
        endif
        if settings.newsletter_popup and template contains 'index'
          case settings.newsletter_layout
            when '1'
              section 'newsletter-popup'
            when '2'
              section 'newsletter-popup-2'
          endcase
        endif
        if shop.customer_accounts_enabled and settings.modal_login
          render 'account-popup'
        endif
        if settings.enable_suggest_products
          render 'kt_suggest'
        endif
        if settings.use_wide and template.name == 'product'
          render 'photoswipe'
        endif
        if settings.use_quickview
          render 'md-quickviewModal'
        endif
        if template.name != 'cart'
          case settings.type_ajax_cart
          when 'drawer'
            render 'kt_cart_drawer'
          when 'popup'
            render 'kt_cart_popup'
          endcase
        endif
        if settings.use_compare
          render 'kt_compare'
        endif
      %}
      {%- if template.name == 'collection' or template.name == 'list-collections' -%}
        <div class="loadingFilter">
          <div class="card d-none"><div class="bar-loading ifinite"></div></div>
        </div>
        <div class="kt_layerFilter kt_layerMobilde text-left">
          <div class="headFilter">
            <a data-pjax-filter="" href="{{collections[collection.handle].url}}" id="filterClear" style="display:none">
              <span>{{'collections.filters.clean'|t}}</span>
            </a>
            <span class="title">{{'collections.filters_mobile.title'|t}}</span>
            <button class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="filterSelectedGroup">
            <div id="filterSelected"></div>
          </div>
          <div class="kt_layerfilterGroups kt_layerfilterGroupsMobile mb-3" data-toggle="show"></div>
          <div class="filterButtonGroup">
            <button class="btn btn-primary w-100" id="filterApply"></button>
          </div>
        </div>
      {%-endif-%}
      {% if settings.sticky_icon_cart %}
      <div class="block-minicart icon-fixed">
        <div class="mini-cart">
          <a {%if settings.type_ajax_cart == "drawer"%}href="javascript:void(0)" onclick="KT.drawOpen()"{%elsif settings.type_ajax_cart == 'popup'%} onclick="KT.popupOpen()"{% else %}href="{{routes.cart_url}}"{%endif%} class="icon-link">
          {%-render 'icon-cart'-%}
          <span class="text-1 d-none">Bag</span>
          <span class="count cartCount fixed">{{ cart.item_count }}</span>
          <span class="total d-none">{{ 0 | money }}</span>
          <span class="text d-none">My Cart</span>
          </a>
        </div>
      </div>
      {% endif %}
      <a href="#" class="scroll_top position-fixed border" title="Scroll to Top"><i class="fkt-angle-up fkt-lg" aria-hidden="true"></i></a>
    </div>
    <div class="content_for_footer">
      <script src="{{'vendor.js' | asset_url }}"{%unless admin_shopify%} defer="defer"{%endunless%}></script> 
      <script src="{{'theme_footer_js.js' | asset_url }}"{%unless admin_shopify%} defer="defer"{%endunless%}></script> 
      {%- if settings.show_multiple_currencies and settings.currency_options == 'customize' -%}
      <script src="//cdn.shopify.com/s/javascripts/currencies.js" defer="defer"></script> 
      <script src="{{'jquery.currencies.min.js' | asset_url }}" defer="defer"></script> 
      {%- endif -%}
      {%- if settings.ajax_cart or settings.type_ajax_cart != 'none' -%}
      <script src="{{ 'api.jquery.min.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
      {%- if template.name == 'article' and settings.article_layout == '02' -%}
      <script src="{{ 'jquery.sticky-kit.min.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
      {%- if admin_shopify -%}{%- unless t4pcc == 'true' -%}{%- render 't4-pcc', theme: 'molla' -%}{%- endunless -%}{%- endif -%}
      <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'custom.min.js' | asset_url }}" defer="defer"></script>
      {%- if settings.review_app == 'yotpo' -%}
        <!--Installed by Yotpo Automatic Installation-->
        <script>(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/5SyMaw47YkHv19ipX1Dt7XSY4ADnSj8DnTZi34sB/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
        <!--End of Yotpo Automatic Installation-->
      {%- endif -%}
      
      {%- render 'googleRich' -%}
    </div>
    <div id="getScrollbarWidth" style="width:200px;height:150px; position: absolute; top: 0; left: 0; visibility: hidden; overflow:hidden;"><div id="getScrollbarWidthChild" style="width: 100%; height:200px;">test</div></div>
  </body>
</html>