{%- liquid
  unless key
    assign key = 'thumbnail'
  endunless
  unless section_id
    assign section_id = section.id
  endunless
  assign ST_img_type_prd_single = settings.img_type_prd_single
-%}
<div class="swiper-container{%if settings.use_thumb_vertical and key == 'thumbnail'%} swiper-container-vertical{%endif%} {{key}}s-wrapper {{key}}s-wrapper-{{ section_id }} nav-style-default nav-mode-default" {{dataJs}}>
  <div class="swiper-wrapper {% unless key == 'thumbnail' %} SlickPhotoswipGallery{% endunless %} product-single__{{key}}s product-single__{{key}}s-{{ section_id }}">
    {%- assign aspect_image = product.featured_image.width | times:1.00 |divided_by:product.featured_image.height| round: 2 -%}

    {%- assign index_slick = 0 -%}
    {%- for image in product.images -%}
      {%- if image.alt == "kt_360" -%}{%-break-%}{%- endif -%}
      {%- assign checkVideoFromAlt = image.alt -%}
      {%- assign kt_video = false -%}
      {%- if checkVideoFromAlt contains '||video:' -%}
        {%- assign kt_video = true -%}
        {%- assign vUrl = checkVideoFromAlt | split: '||video:' | last -%}
      {%- endif -%}

      {%- assign kt_visible = false -%}
      {%- if settings.gallery == false -%}
        {%- assign kt_visible = true -%}
      {%- endif -%}
      
      {%- if imgsPos0 <= forloop.index and imgsPos1 > forloop.index -%}
        {%- assign kt_visible = true -%}
      {%- endif -%}
      {%- if imgsPos0 == imgsPos1 and imgsPos0 == forloop.index -%}
        {%- assign kt_visible = true -%}
      {%- endif -%}
      {%- if imgsPos0 == imgsPos1 and imgsPos0 == forloop.index and imgsPos1 == product.images.size or forloop.index == imgsPos1 and imgsPos1 == product.images.size -%}
        {%- assign kt_visible = true -%}
      {%- endif -%}
      {%- assign prevlastPositionImage = imgsPos.size | minus: 2 -%}
      {%- assign lastPositionImage = imgsPos.size | minus: 1 -%}
      {%- if imgsPos[prevlastPositionImage] != imgsPos[lastPositionImage] and forloop.index == imgsPos1 and imgsPos1 == product.images.size -%}
        {%- assign kt_visible = true -%}
      {%- endif -%}

      {%- capture image_fit -%}
      {%- assign as_r = settings.aspect_ratio | default: settings.aspect_ratio_default -%}
      {%- assign aspect_ratioW = as_r | split: '/' | first | strip | plus: 0.00 -%}
      {%- assign aspect_ratioH = as_r | split: '/' | last | strip | plus: 0.00 -%}
      {%- render 'kt_image_fit', width: aspect_ratioW, height: aspect_ratioH, image_item: product.featured_image -%}
      {%- endcapture -%}

      {%- if kt_visible -%}
        <div class="swiper-slide product-single__{{key}}s-item gallery-{% if kt_video %}video{%else%}image{%endif%}{%if ST_img_type_prd_single == 'stretch'%} is-cover{%elsif ST_img_type_prd_single == 'nonstretch'%} is-contain{%else%} is-default{%endif%}" data-src="{{ image.src | img_url: 'master'}}">
          {%- if key == 'thumbnail'-%}
          <a href="javascript:void(0)" class="product-single__{{key}} product-single__{{key}}--{{ section_id }} aspectRatio aspectRatioPlaceholder{% if ST_img_type_prd_single != 'normal' %} {{image_fit}}{% endif %}" title="{%-if image.attached_to_variant? -%}{{image.variants.first.title}}{%- endif -%}" data-src="{{ image.src | img_url: '720x720', scale: 2 }}" data-id="{%-if image.attached_to_variant? -%}{{image.variants.first.id}}{%- endif -%}"{% if ST_img_type_prd_single == 'normal' %} style="padding-bottom: {{image.height | times: 1.00 | divided_by:image.width | times: 100.00000000}}%"{% endif %}>
            <img class="product-single__{{key}}-image img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAQAICRAEAOw==" data-src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ product.title }}">
            {%- if kt_video -%}
            <div class="btn play{%unless vUrl contains '.mp4'%} kt_openvd_{{image.id}}{%endunless%}"{%unless vUrl contains '.mp4'%} data-imgid="{{image.id}}" data-video="{{vUrl}}"{%endunless%}>
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            {%- endif -%}
          </a>
          {%- else -%}
          {%- if image.position == imgPos -%}{%- assign active_photo_ = index_slick -%}{%- endif -%}
          <a href="javascript:void(0)" class="product-single__{{key}} product-single__{{key}}--{{ section_id }} aspectRatio aspectRatioPlaceholder{% if ST_img_type_prd_single != 'normal' %} {{image_fit}}{% endif %}" title="{%-if image.attached_to_variant? -%}{{image.variants.first.title}}{%- endif -%}" data-src="{{ image.src | img_url: '720x720', scale: 2 }}" data-id="{%-if image.attached_to_variant? -%}{{image.variants.first.id}}{%- endif -%}" style="max-width:{{ image.width}}px;{% if ST_img_type_prd_single == 'normal' %}padding-bottom: {{image.height | times: 1.00 |divided_by:image.width | times: 100.00000000}}%{% endif %}">
            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="product-single__{{key}}-image img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAQAICRAEAOw==" data-src="{{ img_url }}" data-widths="[720, 900, 1080]" data-aspectratio="{{ image.aspect_ratio }}" data-sizes="auto" alt="{{ image.alt | escape | default: product.title }}" data-srcbase="{{image.src | img_url: '110x110', scale: 2}}" data-srcfix="{{image.src | img_url: 'master' }}" data-size="{{image.width}}x{{image.height}}"{% if ST_img_type_prd_single == 'normal' %} style="width:{{ image.width}}px; max-width: 100% !important;"{% endif %}>
            {%- if kt_video and vUrl contains '.mp4' -%}
              <div class="video_content">
                <video class="video-element" controls="controls" loop poster="{{image.src | img_url: 'master'}}">
                  <source type="video/mp4" src="{{vUrl}}">
                </video>
              </div>
            {%- endif -%}
            <span class="loading-img"></span>
          </a>
          {%- endif -%}
          {%- assign index_slick = index_slick | plus: 1 -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
  {% if key == 'photo' %}
  <!-- Add Arrows -->
  <div class="swiper-button-next fkt-angle-right fkt-2x fkt-va"></div>
  <div class="swiper-button-prev fkt-angle-left fkt-2x fkt-va"></div>
  {% endif %}
</div>