<div class="flashs style-{{st_card[0]}}">
  {%-if sold_out -%}
    <span class="onexclusive sold-out">
    	<span class="text">{{'products.product.out_of_stock'|t}}</span>
    </span>
  {%-elsif preOrder-%}
    <span class="onexclusive pre-order">
    	<span class="text">{{'products.product.pre_order'|t}}</span>
    </span>
  {%-elsif st_card[3] and on_sale-%}  
	  {%-unless product.tags contains 'notsale'-%}
	    {%- assign money_save = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price| round -%}
	    <span class="onsale">
	    	<span class="text">{{'products.product.on_sale'|t}}</span>
	    	{% comment %}{%- if money_save >= 10 -%}
		    	<span class="text">{{'products.product.on_sale_percent'| t: money_save: money_save}}</span>
	    	{%- else -%}
			  {%- endif -%}{% endcomment %}
			</span>
	  {%-endunless-%}
  {%-elsif st_card[1] and on_new-%}
    <span class="onnew"><span class="text">{{'products.product.new' | t}}</span></span>
  {%-endif-%}
</div>