<span class="product-price{%if product.available == false%} product-price-out{%endif%}{%if on_sale%} product-price-onsale{%endif%}">
  <ins class="ProductPrice-{{product.id}}{%if price_varies%} d-none{%endif%}">
    {{ product.price | money }}
  </ins>
  {%- if price_varies-%}
  <span class="ProductVaries-{{product.id}}">
    {%- if settings.price_varies_style == '1' -%}
      {{product.price_min | money}} - {{product.price_max | money}}
    {%- else -%}
      <span class="from-title">{{'products.product.from-price'|t}}</span>{{product.price_min | money}}
    {%- endif -%}
  </span>
  {%- endif -%}
  <del class="ComparePrice-{{product.id}}{%if price_varies or product.compare_at_price <= product.price or product.compare_at_price == null%} d-none{%endif%}">
    {{ product.compare_at_price | default: 0 | money }}
  </del>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- capture unit_price_base_unit -%}
    <span class="base_unit">
      {%- if current_variant.unit_price_measurement -%}
        {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
          {{- current_variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ current_variant.unit_price_measurement.reference_unit }}
      {%- endif -%}
    </span>
  {%- endcapture -%}
  <span class="UnitPrice-{{product.id}} text-nowrap{%unless current_variant.unit_price %} d-none{%endunless%}">
    {{current_variant.unit_price_measurement.quantity_value | append: current_variant.unit_price_measurement.quantity_unit}}
    (<span class="unit_price">{{current_variant.unit_price | money }}</span> / {{unit_price_base_unit}})
  </span>
  {%-if product.available == false and settings.label_style == '02'-%}
  <span class="out-text">{{'products.product.out_of_stock'|t}}</span>
  {%- endif -%}
</span>