@using Entities.Models;
<!DOCTYPE html>
<html>
<head>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Assets/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/Assets/assets/images/icons/site.html">
    <link rel="mask-icon" href="~/Assets/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/Assets/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/Assets/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/Assets/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Assets/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/assets/css/plugins/jquery.countdown.css">
    <link href="~/Assets/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
    S
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/Assets/assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="~/Assets/assets/css/demos/demo-13.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <style>
        .autocomplete-suggestions {
            text-align: left;
            cursor: default;
            border: 1px solid #ccc;
            border-top: 0;
            background: #fff;
            box-shadow: -1px 1px 3px rgba(0,0,0,.1);
            position: absolute;
            display: none;
            z-index: 9999;
            max-height: 254px;
            overflow: hidden;
            overflow-y: auto;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="page-wrapper">

        <header class="header header-10 header-intro-clearance">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="~/Assets/tel:#"><i class="icon-phone"></i>Tel: +0123 456 789</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li>
                                        <div class="header-dropdown">
                                            <a href="#">USD</a>
                                            <div class="header-menu">
                                                <ul>
                                                    <li><a href="#">EURO</a></li>
                                                    <li><a href="#">USD</a></li>
                                                    <li><a href="#">TL</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="login">
                                        <a href="#signin-modal" data-toggle="modal">Giriş Yap / Kaydol</a>
                                    </li>
                                    <li>
                                        <div class="header-dropdown">
                                            <a href="#">Ahmet ERDOĞAN</a>
                                            <div class="header-menu">
                                                <ul>
                                                    <li><a href="#">Profilim</a></li>
                                                    <li><a href="#">Ayarlar</a></li>
                                                    <li><a href="#">Çıkış</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href='@Url.Action("Index", "Home")' class="logo">
                            @*<img src="~/Assets/assets/images/demos/demo-13/logo.png" alt="Molla Logo" width="105" height="25">*@
                            <img src="https://i.hizliresim.com/oat0ur.png" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form asp-action="Index" asp-controller="Search" method="post">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <div class="select-custom">
                                        <select id="cat" name="cat">
                                            <option value="">Kategoriler</option>
                                            @foreach (var item in ViewBag.Data["SearchCategories"] as List<Category>)
                                            {
                                                //if(ViewBag.Data["SearchCategories"].count>15)
                                                //15 yükle
                                                //<a value="@item.Oid">Tüm kategoriler</a>
                                                //
                                                if (item.ParentOid == null)
                                                {
                                                    <option value="@item.Oid">@item.Name</option>
                                                    foreach (var second in item.SubCategories)
                                                    {
                                                        <option value="@second.Oid">- @second.Name</option>
                                                        foreach (var third in second.SubCategories)
                                                        {
                                                            <option value="@third.Oid"> &nbsp; &nbsp;-@third.Name</option>
                                                        }
                                                    }
                                                }
                                            }
                                            @*<option value="1">Anestesi &amp; Enjeksiyon</option>
                                                <option value="2">Besleme, Protez &amp; Tamir</option>
                                                <option value="3">Beyazlatma &amp; Kozmetik</option>
                                                <option value="4">Bitirme &amp; Cilalama</option>
                                                <option value="5">Bonding &amp; Asit Sistemleri</option>
                                                <option value="6">Dental Cad Cam</option>
                                                <option value="7">Dental Eğitim Araçları</option>
                                                <option value="8">Dental El Aletleri</option>
                                                <option value="9">Dental Frezler</option>
                                                <option value="10">Dental Laboratuar Ürünler</option>
                                                <option value="11">Dentkonsept Görsel &amp; Web</option>
                                                <option value="12">- Cars and Trucks</option>
                                                <option value="15">- Boats</option>
                                                <option value="16">- Auto Tools &amp; Supplies</option>*@
                                        </select>
                                    </div><!-- End .select-custom -->
                                    <label for="searchProduct" class="sr-only">Search</label>
                                    <input type="search" class="form-control auto-complete" name="searchProduct" id="searchProduct" placeholder="Ürün ara ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="header-dropdown-link">
                            @*<div class="dropdown compare-dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                        <i class="icon-random"></i>
                                        <span class="compare-txt">Compare</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="compare-products">
                                            <li class="compare-product">
                                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                                <h4 class="compare-product-title"><a href="~/Assets/product.html">Blue Night Dress</a></h4>
                                            </li>
                                            <li class="compare-product">
                                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                                <h4 class="compare-product-title"><a href="~/Assets/product.html">White Long Skirt</a></h4>
                                            </li>
                                        </ul>

                                        <div class="compare-actions">
                                            <a href="#" class="action-link">Clear All</a>
                                            <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i class="icon-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>*@


                            <div class="dropdown cart-dropdown">
                                <a href='@Url.Action("Checkout", "Payment")' class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-user"></i>
                                    <span class="cart-txt">Profil</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" style="width:230px">
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;">  <i style="color:#3399ff" class="fa fa-home fa-2x"></i>&nbsp; Hesabım</a>
                                    </div>
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;"><i style="color:#3399ff" class="fa fa-clipboard fa-2x"></i>&nbsp; Siparişlerim</a>
                                    </div>
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;"><i style="color:#3399ff" class="fa fa-flag-checkered fa-2x"></i>&nbsp; Favoriler</a>
                                    </div>
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;"><i style="color:#3399ff" class="fa fa-desktop fa-2x"></i>&nbsp; Yorumlar</a>
                                    </div>
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;"><i style="color:#3399ff" class="fa fa-desktop fa-2x"></i>&nbsp; Ürün Talepleri</a>
                                    </div>
                                </div><!-- End .dropdown-menu -->
                            </div>

                            <div class="dropdown cart-dropdown">
                                <a href='@Url.Action("Checkout", "Payment")' class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-home"></i>
                                    <span class="cart-txt">Mağaza</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" style="width:250px">
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;">  <i style="color:#3399ff" class="fa fa-home fa-2x"></i>&nbsp; Mağaza Profili</a>
                                    </div>
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;"><i style="color:#3399ff" class="fa fa-clipboard fa-2x"></i> &nbsp; Ürünlerim</a>
                                    </div>
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;"><i style="color:#3399ff" class="fa fa-flag-checkered fa-2x"></i>&nbsp; Ürün Talep Ekranı</a>
                                    </div>
                                    <div class="dropdown-cart-total">
                                        <a style="cursor: pointer;"><i style="color:#3399ff" class="fa fa-desktop fa-2x"></i> &nbsp; Verdiğim Tekliflerim</a>
                                    </div>
                                </div><!-- End .dropdown-menu -->
                            </div>

                            <a href='@Url.Action("Wishlist", "User")' class="wishlist-link">
                                <i class="icon-heart-o"></i>
                                <span class="wishlist-count">3</span>
                                <span class="wishlist-txt">Favoriler</span>
                            </a>

                            <div class="dropdown cart-dropdown">
                                <a href='@Url.Action("Checkout", "Payment")' class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">2</span>
                                    <span class="cart-txt">Sepet</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-cart-products">
                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="~/Assets/product.html">Beige knitted elastic runner shoes</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $84.00
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="~/Assets/product.html" class="product-image">
                                                    <img src="~/Assets/assets/images/products/cart/product-1.jpg" alt="product">
                                                </a>
                                            </figure>
                                            <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                        </div><!-- End .product -->

                                        <div class="product">
                                            <div class="product-cart-details">
                                                <h4 class="product-title">
                                                    <a href="~/Assets/product.html">Blue utility pinafore denim dress</a>
                                                </h4>

                                                <span class="cart-product-info">
                                                    <span class="cart-product-qty">1</span>
                                                    x $76.00
                                                </span>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="~/Assets/product.html" class="product-image">
                                                    <img src="~/Assets/assets/images/products/cart/product-2.jpg" alt="product">
                                                </a>
                                            </figure>
                                            <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                        </div><!-- End .product -->
                                    </div><!-- End .cart-product -->

                                    <div class="dropdown-cart-total">
                                        <span>Total</span>

                                        <span class="cart-total-price">$160.00</span>
                                    </div><!-- End .dropdown-cart-total -->

                                    <div class="dropdown-cart-action">
                                        <a href=@Url.Action("Index", "Cart") class="btn btn-primary">Sepete Git</a>
                                        <a href='@Url.Action("Checkout", "Payment")' class="btn btn-outline-primary-2"><span>Ödeme</span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .dropdown-cart-total -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .cart-dropdown -->
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown is-on" data-visible="true">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Kategoriler
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        @foreach (var item in ViewBag.Data["SearchCategories"] as List<Category>)
                                        {
                                            if (item.SubCategories.Count == 0)
                                            {
                                                <li><a href="@Url.Action("CategoryResult", "Category", new { id = item.Oid })">@item.Name</a></li>
                                            }
                                            else if (item.SubCategories.Count > 0)
                                            {
                                                <li class="megamenu-container">
                                                    <a class="sf-with-ul" href="#">@item.Name</a>

                                                    <div class="megamenu">
                                                        <div class="row no-gutters">
                                                            <div class="col-md-12">
                                                                <div class="menu-col">
                                                                    <div class="row">
                                                                        @foreach (var subCat in item.SubCategories.OrderByDescending(x => x.SubCategories.Count))
                                                                        {
                                                                            <div class="col-md-4">
                                                                                <div @*onmouseover="showUl(@subCat.Oid)"*@ class="menu-title">@subCat.Name</div>
                                                                                <ul @*style="visibility:hidden" id="@subCat.Oid"*@>
                                                                                    @foreach (var last in subCat.SubCategories.Take(3))
                                                                                    {
                                                                                        <li><a href="@Url.Action("CategoryResult", "Category", new { id = last.Oid })">@last.Name</a></li>
                                                                                    }
                                                                                    @if (subCat.SubCategories.Count > 6)
                                                                                    {
                                                                                        <li><a href="@Url.Action("CategoryResult", "Category", new { id = subCat.Oid })"><b><i><u>Devamını Gör</u></i></b></a></li>

                                                                                    }
                                                                                </ul>
                                                                            </div>
                                                                        }
                                                                        @*@if (item.SubCategories.Count > 6)
                                                                            {
                                                                                <div class="col-md-6">
                                                                                    <div class="menu-title" style="float:right;">
                                                                                        <a href="@Url.Action("CategoryResult", "Category", new { id = item.Oid })">Tümünü Gör</a>
                                                                                    </div>
                                                                                </div>
                                                                            }*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="~/Assets/index.html" class="sf-with-ul">Anasayfa</a>
                                </li>
                                <li>
                                    <a href="~/Assets/category.html" class="sf-with-ul">Kampanyalar</a>
                                </li>
                                <li>
                                    <a href="~/Assets/product.html" class="sf-with-ul">Outlet</a>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Hakkımızda</a>

                                    @*<ul>
                                            <li>
                                                <a href="~/Assets/about.html" class="sf-with-ul">About</a>

                                                <ul>
                                                    <li><a href="~/Assets/about.html">About 01</a></li>
                                                    <li><a href="~/Assets/about-2.html">About 02</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="~/Assets/contact.html" class="sf-with-ul">Contact</a>

                                                <ul>
                                                    <li><a href="~/Assets/contact.html">Contact 01</a></li>
                                                    <li><a href="~/Assets/contact-2.html">Contact 02</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="~/Assets/login.html">Login</a></li>
                                            <li><a href="~/Assets/faq.html">FAQs</a></li>
                                            <li><a href="~/Assets/404.html">Error 404</a></li>
                                            <li><a href="~/Assets/coming-soon.html">Coming Soon</a></li>
                                        </ul>*@
                                </li>
                                <li>
                                    <a href="~/Assets/elements-list.html" class="sf-with-ul">İletisim</a>

                                    @*<ul>
                                            <li><a href="~/Assets/elements-products.html">Products</a></li>
                                            <li><a href="~/Assets/elements-typography.html">Typography</a></li>
                                            <li><a href="~/Assets/elements-titles.html">Titles</a></li>
                                            <li><a href="~/Assets/elements-banners.html">Banners</a></li>
                                            <li><a href="~/Assets/elements-product-category.html">Product Category</a></li>
                                            <li><a href="~/Assets/elements-video-banners.html">Video Banners</a></li>
                                            <li><a href="~/Assets/elements-buttons.html">Buttons</a></li>
                                            <li><a href="~/Assets/elements-accordions.html">Accordions</a></li>
                                            <li><a href="~/Assets/elements-tabs.html">Tabs</a></li>
                                            <li><a href="~/Assets/elements-testimonials.html">Testimonials</a></li>
                                            <li><a href="~/Assets/elements-blog-posts.html">Blog Posts</a></li>
                                            <li><a href="~/Assets/elements-portfolio.html">Portfolio</a></li>
                                            <li><a href="~/Assets/elements-cta.html">Call to Action</a></li>
                                            <li><a href="~/Assets/elements-icon-boxes.html">Icon Boxes</a></li>
                                        </ul>*@
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .col-lg-9 -->
                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Nisan Sonuna Kadar %30 İndirim</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        @RenderBody()
        <footer class="footer footer-2">
            <div class="icon-boxes-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-rocket"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Ücretsiz Kargo</h3><!-- End .icon-box-title -->
                                    <p>200₺ ve üzeri alışverişlerde</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">İade</h3><!-- End .icon-box-title -->
                                    <p>30 gün içinde iade imkanı</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">1 Üründe %20 İndirim</h3><!-- End .icon-box-title -->
                                    <p>İlk siparişe özel</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Destek</h3><!-- End .icon-box-title -->
                                    <p>7/24 yanınızdayız </p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->

            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="~/Assets/assets/images/demos/demo-13/logo-footer.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="~/Assets/tel:123456789">+0123 456 789</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="~/Assets/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="~/Assets/about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="~/Assets/faq.html">FAQ</a></li>
                                    <li><a href="~/Assets/contact.html">Contact us</a></li>
                                    <li><a href="~/Assets/login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="~/Assets/cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="~/Assets/#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="~/Assets/#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="~/Assets/index.html">Anasayfa</a>
                            </li>
                            <li>
                                <a href="~/Assets/category.html">Kampanyalar</a>
                            </li>
                            <li>
                                <a href="~/Assets/product.html" class="sf-with-ul">Outlet</a>

                            </li>
                            <li>
                                <a href="#">Hakkımızda</a>
                            </li>
                            <li>
                                <a href="~/Assets/blog.html">İletisim</a>

                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li><a class="mobile-cats-lead" href="#">Daily offers</a></li>
                            <li><a class="mobile-cats-lead" href="#">Gift Ideas</a></li>
                            <li><a href="#">Beds</a></li>
                            <li><a href="#">Lighting</a></li>
                            <li><a href="#">Sofas & Sleeper sofas</a></li>
                            <li><a href="#">Storage</a></li>
                            <li><a href="#">Armchairs & Chaises</a></li>
                            <li><a href="#">Decoration </a></li>
                            <li><a href="#">Kitchen Cabinets</a></li>
                            <li><a href="#">Coffee & Tables</a></li>
                            <li><a href="#">Outdoor Furniture </a></li>
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    @*<div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row no-gutters bg-white newsletter-popup-content">
                        <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                            <div class="banner-content text-center">
                                <img src="~/Assets/assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15">
                                <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                                <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
                                <form action="#">
                                    <div class="input-group input-group-round">
                                        <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"><span>go</span></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                    <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2-5col col-lg-5 ">
                            <img src="~/Assets/assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Plugins JS File -->
    @*<script src="~/Assets/assets/js/jquery.min.js"></script>*@
    <script src="~/Assets/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/Assets/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/assets/js/superfish.min.js"></script>
    <script src="~/Assets/assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/Assets/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/assets/js/jquery.plugin.min.js"></script>
    <script src="~/Assets/assets/js/jquery.countdown.min.js"></script>

    <!-- Main JS File -->
    <script src="~/Assets/assets/js/main.js"></script>
    <script src="~/Assets/assets/js/demos/demo-13.js"></script>

    <script>
        $(document).ready(function () {
            $("#searchProduct").autocomplete({
                minLength: 2,
                delay: 500,
                autoFocus: true,
                source: function (request, response) {
                    var categoryList = $("#cat")[0];
                    var categoryId = categoryList.options[categoryList.selectedIndex].value;
                    $.ajax({
                        url: "@Url.Action("SearchProduct", "Search")",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term, categoryId: categoryId },
                        success: function (data) {
                            response(data);
                        }
                    })
                },
                focus: function (event, ui) {
                    $("#searchProduct").val(ui.item.Name);
                },
                select: function (event, ui) {
                    event.preventDefault();
                    event.stopPropagation();
                    window.location.href = '/product/' + ui.item.Oid;//.find('a').attr('href');
                }
            });
            $("#searchProduct").data('ui-autocomplete')._renderItem = function (ul, item) {
                //item = item.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                //var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                var $li = $('<li>');
                $li.html('<a href="/product/' + item.Oid + '" title="' + item.Name + '">' +
                    '<img style="width:50px;height:50px;" src="data:image/gif;base64,' + item.Image + '" />' +
                    '<span class="itemname">' + item.Name + '</span>' +
                    '</a>');

                return $li.appendTo(ul);

                //return '' +
                //    '<div class="autocomplete-suggestion" data-val="' + item.name + '">' +
                //    '<a href="/product/' + item.Oid + '" title="' + item.name + '">' +
                //    '   <div class="suggestion-image"><img src="' + item.primary_image_thumb_path + '" alt="' + item.name + '"></div>' +
                //    '   <div class="suggestion-content">' +
                //    '       <div class="suggestion-title">' + item.name.replace(re, "<b>$1</b>") + '</div>' +
                //    '   </div>' +
                //    '</a>' +
                //    '</div>';
            };
        });
    </script>
</body>


@*<body>

        <div class="container body-content">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>*@
</html>
