{% layout none %}
{%- if cart.item_count > 0 -%}
  {%- for item in cart.items -%}
  <div class="row cart__popup-item">
    <div class="image__cart-drawer col-3 col-md-2">
      <a href="{{ item.variant.url }}">
        {% if item.image %}
          {%- assign check_not_img_one = false -%}
          {%- assign check_break = false -%}
          {%- if item.variant.image != null or item.product.has_only_default_variant -%}
            <img class="img-thumbnail lazyload" alt="{{ item.title | escape |strip_html }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item| img_url: '104x120', crop:'top'}}">
          {%- else -%}
            {%- assign check_break = false -%}
            {%- assign check_not_img_one = false -%}
            {%- for option in item.product.options -%}
              {%- assign downcased_option = option | downcase -%}
              {%- if downcased_option == 'color' or downcased_option == 'colour' -%} 
                {%- assign item_title_variant = item.variant.options[forloop.index0] -%}
                {%- for image in item.product.images -%}
                  {%- if image.attached_to_variant? -%}
                    {% for variant in image.variants %}
                      {%- if variant.title contains item_title_variant and variant.image.src != blank -%}
                        <img class="img-thumbnail lazyload" alt="{{ image.alt | escape |strip_html }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.src| img_url: '104x120', crop:'top' }}">
                        {%- assign check_not_img_one = false -%}
                        {%- assign check_break = true -%}
                        {%- break -%}
                      {%- else -%}
                        {%- assign check_not_img_one = true -%}
                      {%- endif-%}
                    {% endfor %}
                    {%- if check_break -%}{%- break -%}{%- endif-%}
                  {%- else -%}
                    {%- assign check_not_img_one = true -%}
                  {%- endif-%}
                {%- endfor -%}
              {%- else -%}
                {%- assign check_not_img_one = true -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
          {%- if check_not_img_one and check_break == false -%}
            <img class="img-thumbnail lazyload" alt="{{ item.title | escape |strip_html }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item| img_url: '104x120', crop:'top' }}">
          {%- endif -%}
        {% else %}
          <img class="img-thumbnail lazyload" alt="{{ item.title | escape |strip_html }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'noimage.gif'| asset_img_url: '104x120', crop:'top' }}">
        {% endif %}
      </a>
    </div>
    <div class="info__cart-drawer col-6 col-md-7 p-0">
      <h4 class="product-name"><a href="{{ item.variant.url }}" title="{{ item.product.title | strip_html }}">{{ item.product.title | truncate: 25 }}&nbsp;</a></h4>
      {%- unless item.variant.title contains 'Default' -%}
      <div class="variation" title="{{ item.title | escape |strip_html }}">
        <span>{{item.variant.title}}</span>
        <a href="javascript:void(0)" class="col-auto p-small product-variable__cart-drawer addMoreItemAjax" data-view="{{ item.product.url }}" data-vrid="{{item.id}}" data-pid="{{item.product.id}}" data-qty="{{item.quantity}}" data-ogr="{{ item.product.featured_image | img_url: 'master' }}"></a>
      </div>
      {%- endunless -%}
      
      {% if item.original_line_price != item.line_price %}
      <div class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></div>
      {% endif %}
      <span class="price">{{ item.price | money }}</span>

      {%if item.unit_price %}
      {%- capture unit_price_base_unit -%}
        <span class="base_unit">
          {%- if item.unit_price_measurement -%}
            {%- if item.unit_price_measurement.reference_value != 1 -%}
              {{- item.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ item.unit_price_measurement.reference_unit }}
          {%- endif -%}
        </span>
      {%- endcapture -%}
      <span class="UnitPrice-{{item.product.id}} text-nowrap">
        {{item.unit_price_measurement.quantity_value | append: item.unit_price_measurement.quantity_unit}}
        (<span class="unit_price">{{item.unit_price | money }}</span> / {{unit_price_base_unit}})
      </span>
      {%endif%}

      <div>
      {% if item.line_level_discount_allocations.size > 0 %}
        Discounts:
        <ul>
        {% for discount_allocation in item.line_level_discount_allocations %}
          <li>{{ discount_allocation.discount_application.title }}
          -{{ discount_allocation.amount | money }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      </div>
    </div>
    <div class="action__cart-drawer col-3">
      <div class="d-flex flex-wrap flex-sm-nowrap align-items-center justify-content-center justify-content-sm-between">
        <div class="text-center quantity">
          <div class="control">
            <a class="btn-number qtyminus quantity-minus" href="javascript:void(0)"></a>  
            <input type="text" data-id="{{ item.variant_id }}" name="quantity" value="{{item.quantity}}" min="1"{% if item.variant.inventory_management != null %} max="{{item.variant.inventory_quantity}}"{% endif %}class="input-qty" size="4" pattern="[0-9]*" onchange="Shopify.KT_changeItem('{{ item.variant_id }}',$(this).val());$('#cartModal .ajax__list-cart').addClass('loading')">
            <a class="btn-number qtyplus quantity-plus" href="javascript:void(0)"></a>
          </div>
        </div>
        <a class="remove-item remove mx-2" href="javascript:void(0)" onclick="Shopify.KT_removeItem('{{ item.variant_id }}');$('#cartModal .ajax__list-cart').addClass('loading')" title="{{'cart.general.remove'|t }}"><i class="fkt-close" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  {%- endfor -%}
{%- endif -%}